@use './chat-base.scss';


a {
  color: #397ea5;
}

a.visited {
  color: #7c00e6;
}

a:visited {
  color: #7c00e6;
}



/*****************************************
*
* OUTPUT ACTUALLY RELATED TO MESSAGES
*
******************************************/

/* MOTD */
.motd {
  color: #a4bad6;
  font-family: Verdana, sans-serif;
  white-space: normal;
}

.motd a,
.motd a:link,
.motd a:visited,
.motd a:active,
.motd a:hover {
  color: #a4bad6;
}

/* ANNOUNCEMENTS */
.host_announcements {
  border-left: 3px solid #800000;
  color: #800000;
}

.host_announcements h1,
.host_announcements h2,
.host_announcements h3,
.host_announcements h4,
.host_announcements h5,
.host_announcements h6 {
  color: #800000;
}

.host_announcements hr {
  border-top: 1px dashed #800000;
}

/* TEST MERGES */
.test_merges {
  border-left: 3px solid #000; /* #013220 */
}

.emphasized {
  border-left: 3px solid #e9e000;
  background-color: #faffaf;
}

/* OUTPUT COLORS */
.highlight {
  background: yellow;
}

/* OOC */
.admin				{color: #5975da;}
.adminsay			{color: #ff4500;}
.adminnotice		{color: #6685f5;}
.boldannounce		{color: #c51e1e;}
.success				{color: #00bf36;}
.vote				{color: purple;}

/* Miscellaneous */
.alert {
  color: #d82020;
}
h1.alert,
h2.alert {
  color: #a4bad6;
}
.artefact {
  color: #ffa500;
}
.electronicblue {
  color: #00bfff;
  background-color: #414141;
}
.piety {
  color: #ceca0e;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

/* Radio Channels */
.comradio		{color: #fcdf03;}
.syndradio		{color: #8f4a4b;}
.voxradio		{color: #88900e;}
.centradio		{color: #2681a5;}
.airadio		{color: #d65d95;}
.secradio		{color: #dd3535;}
.engradio		{color: #f37746;}
.medradio		{color: #57b8f0;}
.sciradio		{color: #c68cfa;}
.supradio		{color: #b88646;}


/* Radio: Misc */
.radio			{color: #1ecc43;}
.deptradio		{color: #993399;}
.deadsay		{color: #e2c1ff;}
.ghostalert		{color: #6600ff;}
.newscaster		{color: #800000;}

.binarysay {
  color: #1e90ff;
}

.binarysay a {
  color: #00ff00;
}

.binarysay a:active,
.binarysay a:visited {
  color: #88ff88;
}

/* Game Messages */
.userdanger			{color: #c51e1e;}
.danger				{color: #c51e1e;}
.warning			{color: #c51e1e;}
.boldwarning		{color: #c51e1e;}
.red				{color: #ff0000;}
.rose				{color: #ff5050;}
.info				{color: #9ab0ff;}
.notice				{color: #6685f5;}
.boldnotice			{color: #6685f5;}
.nicegreen			{color: #059223;}
.boldnicegreen		{color: #059223;}

.wet				{color: #007fbf;}

/* ANTAGS */
.shadowling			{color: #3b2769;}
.changeling			{color: #059223;}
.abductor_team0		{color: #800080;}
.abductor_team1		{color: #c00070;}
.abductor_team2		{color: #406e6a;}
.abductor_team3		{color: #6e4040;}
.abductor_team4		{color: #800080;}
.cult				{color: #973e3b;}
.alien				{color: #855d85;}
.hive,
.hive_queen			{color: #763983;}
.noticealien		{color: #059223;}
.alertalien			{color: #059223;}

/* Admin: Channels */
.admin_announce {
  color: #000;
  background: #bababa;
}

/* Languages */
.tajaran				{color: #803b56;}
.tajaran_signlang		{color: #941c1c;}
.skrell					{color: #00ced1;}
.soghun					{color: #73a800;}
.vox					{color: #aa00aa;}
.ipc					{color: #505050;}
.syndcode				{color: #c21b1b;}

.interface {
	color: #750e75;
}

/* Popup windows */
.embedded_tip .embedded_tip-text {
  background-color: #353535;
  color: white;
  border: 1px solid black;
}

/* STAFFWHO */
table.staffwho {
  color: #333;
}

table.staffwho th {
	color: #807473;
}
table.staffwho .Admins			{color: #e67e22;}
table.staffwho .Mentors			{color: #e91e63;}
table.staffwho .Developers		{color: #5e5ed1;}
table.staffwho .Xenovisors		{color: #2ecc71;}

/* CLOWN */
.clown {
  color: #ff70c1;
}


/* CONNECTION */
.connectionClosed,
.fatalError {
  background: red;
  color: white;
  padding: 5px;
}

.connectionClosed.restored {
  background: green;
}

.internal.boldnshit {
  color: blue;
  font-weight: bold;
}
