# dmm map merger hook
# needs additional setup, see tools/dmmtool/README.md
*.dmm merge=merge-dmm

# dmi icon merger hook
# needs additional setup, see tools/dmitool/README.md
*.dmi merge=merge-dmi

# line endings
*.dm text eol=lf
