#ignore misc BYOND files
*.log
*.int
*.rsc
*.dmb
*.lk
*.backup
taucetistation.dmb
Thumbs.db
data/
cache/
cfg/
.vscode
**/MapFXDrawer/*.png
test_merge.txt
config/example/admin_ranks.txt
config/example/admins.txt
config/example/announcer/ban.txt
config/example/announcer/serverlist.txt
config/example/config.txt
config/example/dbconfig.txt
config/example/donators.txt
config/example/game_options.txt
config/example/guard_blacklist.txt
config/example/jobs.txt
config/example/maps.txt
config/example/mentors.txt
config/example/motd.txt
config/example/admin_ranks.txt
config/example/admins.txt
config/example/announcer/ban.txt
config/example/announcer/serverlist.txt
config/example/config.txt
config/example/dbconfig.txt
config/example/donators.txt
config/example/game_options.txt
config/example/guard_blacklist.txt
config/example/jobs.txt
config/example/maps.txt
config/example/mentors.txt
config/example/motd.txt
config/example/admin_ranks.txt
config/example/admins.txt
