.em{height:1.5em;width:1.5em;background-position:center;background-repeat:no-repeat;background-size:contain;display:inline-block;vertical-align:middle}
.em-peka{background-image:url("emoji/peka.png")}
.em-abductor{background-image:url("emoji/abductor.png")}
.em-borg{background-image:url("emoji/borg.png")}
.em-feelsgood{background-image:url("emoji/feelsgood.png")}
.em-pekasvast{background-image:url("emoji/pekasvast.gif")}
.em-ai{background-image:url("emoji/ai.gif")}
.em-carp{background-image:url("emoji/carp.gif")}
.em-goliath{background-image:url("emoji/goliath.png")}
.em-peka1{background-image:url("emoji/peka1.png")}
.em-riplie{background-image:url("emoji/riplie.png")}
.em-aimalf{background-image:url("emoji/aimalf.gif")}
.em-chicken{background-image:url("emoji/chicken.png")}
.em-headrev{background-image:url("emoji/headrev.png")}
.em-peka2{background-image:url("emoji/peka2.png")}
.em-shadowling{background-image:url("emoji/shadowling.png")}
.em-alien{background-image:url("emoji/alien.png")}
.em-cleanbot{background-image:url("emoji/cleanbot.gif")}
.em-ian{background-image:url("emoji/ian.png")}
.em-pekabest{background-image:url("emoji/pekabest.gif")}
.em-slime{background-image:url("emoji/slime.gif")}
.em-assistant{background-image:url("emoji/assistant.png")}
.em-cow{background-image:url("emoji/cow.png")}
.em-itsok{background-image:url("emoji/itsok.png")}
.em-pekadeal{background-image:url("emoji/pekadeal.png")}
.em-syndicate{background-image:url("emoji/syndicate.png")}
.em-bad2{background-image:url("emoji/bad2.png")}
.em-cult{background-image:url("emoji/cult.png")}
.em-meteor{background-image:url("emoji/meteor.gif")}
.em-pekahide{background-image:url("emoji/pekahide.png")}
.em-syndie{background-image:url("emoji/syndie.png")}
.em-basilisk{background-image:url("emoji/basilisk.png")}
.em-deathsquad{background-image:url("emoji/deathsquad.png")}
.em-ninja{background-image:url("emoji/ninja.png")}
.em-pekahiding{background-image:url("emoji/pekahiding.png")}
.em-wizard{background-image:url("emoji/wizard.png")}
.em-bolon{background-image:url("emoji/bolon.png")}
.em-ert{background-image:url("emoji/ert.png")}
.em-nuke{background-image:url("emoji/nuke.gif")}
.em-pekahurt{background-image:url("emoji/pekahurt.png")}
.em-bolon2{background-image:url("emoji/bolon2.png")}
.em-facehugger{background-image:url("emoji/facehugger.png")}
.em-nukeops{background-image:url("emoji/nukeops.png")}
.em-pekapled{background-image:url("emoji/pekapled.png")}
.em-pekaholy{background-image:url("emoji/pekaholy.gif")}
.em-khleb{background-image:url("emoji/khleb.png")}
.em-kot{background-image:url("emoji/kot.png")}
.em-disgusting{background-image:url("emoji/disgusting.png")}
.em-pekaroll{background-image:url("emoji/pekaroll.gif")}
.em-doit{background-image:url("emoji/doit.png")}
.em-istorii{background-image:url("emoji/istorii.png")}
.em-itsnotok{background-image:url("emoji/itsnotok.png")}
.em-pekaholyplus{background-image:url("emoji/pekaholyplus.gif")}
.em-pekakaif{background-image:url("emoji/pekakaif.png")}
.em-pekazm{background-image:url("emoji/pekazm.png")}
.em-pepe{background-image:url("emoji/pepe.png")}
.em-tem{background-image:url("emoji/tem.gif")}
.em-trash{background-image:url("emoji/trash.png")}
.em-cakehat{background-image:url("emoji/cakehat.png")}
.em-gachidark{background-image:url("emoji/gachidark.png")}
.em-pepesad{background-image:url("emoji/pepesad.png")}
.em-hmm{background-image:url("emoji/hmm.png")}
.em-joypain{background-image:url("emoji/joypain.png")}
.em-joypainroll{background-image:url("emoji/joypainroll.gif")}
.em-kaka{background-image:url("emoji/kaka.gif")}
.em-think{background-image:url("emoji/think.gif")}
.em-shrug{background-image:url("emoji/shrug.png")}
.em-pepewhy{background-image:url("emoji/pepewhy.png")}
.em-pepewhat{background-image:url("emoji/pepewhat.gif")}
.em-pepesalut{background-image:url("emoji/pepesalut.png")}
.em-pepemanok{background-image:url("emoji/pepemanok.png")}
.em-pepejoy{background-image:url("emoji/pepejoy.png")}
.em-pepehmm{background-image:url("emoji/pepehmm.png")}
.em-pepedamn{background-image:url("emoji/pepedamn.png")}
.em-pepecry{background-image:url("emoji/pepecry.png")}
.em-pepecross{background-image:url("emoji/pepecross.png")}
.em-pepeamazing{background-image:url("emoji/pepeamazing.png")}
.em-pekarage{background-image:url("emoji/pekarage.png")}
.em-pekapepe{background-image:url("emoji/pekapepe.png")}
.em-pekaolt{background-image:url("emoji/pekaolt.png")}
.em-pekamrazish{background-image:url("emoji/pekamrazish.png")}
.em-pekamorcrate{background-image:url("emoji/pekamorcrate.png")}
.em-pekainsanededadvice{background-image:url("emoji/pekainsanededadvice.png")}
.em-pekagachi{background-image:url("emoji/pekagachi.png")}
.em-pekadoom{background-image:url("emoji/pekadoom.png")}
.em-pekabloody{background-image:url("emoji/pekabloody.png")}
.em-pekabaton{background-image:url("emoji/pekabaton.png")}
.em-ohmycat{background-image:url("emoji/ohmycat.png")}
.em-lul{background-image:url("emoji/lul.png")}
.em-honk{background-image:url("emoji/honk.png")}
.em-flash{background-image:url("emoji/flash.png")}
.em-duck{background-image:url("emoji/duck.png")}
.em-dpepe{background-image:url("emoji/dpepe.gif")}
.em-crash{background-image:url("emoji/crash.png")}
.em-cat{background-image:url("emoji/cat.png")}
.em-glul{background-image:url("emoji/glul.png")}
.em-happyman{background-image:url("emoji/happyman.png")}
.em-jerry{background-image:url("emoji/jerry.png")}
.em-kek{background-image:url("emoji/kek.png")}
.em-pekaanon{background-image:url("emoji/pekaanon.png")}
.em-pekahmm{background-image:url("emoji/pekahmm.png")}
.em-pekaragec{background-image:url("emoji/pekaragec.png")}
.em-pekarp{background-image:url("emoji/pekarp.png")}
.em-pekasmart{background-image:url("emoji/pekasmart.png")}
.em-pekaspace{background-image:url("emoji/pekaspace.png")}
.em-pekathink{background-image:url("emoji/pekathink.png")}
.em-pepecop{background-image:url("emoji/pepecop.png")}
.em-pepelove{background-image:url("emoji/pepelove.png")}
.em-peperage{background-image:url("emoji/peperage.png")}
.em-pepewow{background-image:url("emoji/pepewow.png")}
.em-pominki{background-image:url("emoji/pominki.png")}
.em-soqa{background-image:url("emoji/soqa.png")}
.em-thinkgun{background-image:url("emoji/thinkgun.png")}
.em-topbestever{background-image:url("emoji/topbestever.png")}
.em-at{background-image:url("emoji/at.png")}
.em-pepedetectiv{background-image:url("emoji/pepedetectiv.png")}
.em-pepefeelsup{background-image:url("emoji/pepefeelsup.png")}
.em-pepesur{background-image:url("emoji/pepesur.png")}
.em-peporage{background-image:url("emoji/peporage.png")}
.em-ban{background-image:url("emoji/ban.png")}
.em-blobthink{background-image:url("emoji/blobthink.png")}
.em-catdance{background-image:url("emoji/catdance.gif")}
.em-jari{background-image:url("emoji/jari.png")}
.em-joypainfire{background-image:url("emoji/joypainfire.png")}
.em-kys{background-image:url("emoji/kys.png")}
.em-meyes{background-image:url("emoji/meyes.gif")}
.em-ohyeahthink{background-image:url("emoji/ohyeahthink.gif")}
.em-omegalul{background-image:url("emoji/omegalul.gif")}
.em-peepoHeartBroken{background-image:url("emoji/peepoHeartBroken.png")}
.em-peeposhot{background-image:url("emoji/peeposhot.gif")}
.em-pekacantseehaters{background-image:url("emoji/pekacantseehaters.png")}
.em-pekadiesiege{background-image:url("emoji/pekadiesiege.png")}
.em-pepeak{background-image:url("emoji/pepeak.gif")}
.em-pepecopshoot{background-image:url("emoji/pepecopshoot.gif")}
.em-pepecowboi{background-image:url("emoji/pepecowboi.gif")}
.em-pepehmmcofee{background-image:url("emoji/pepehmmcofee.png")}
.em-pepekinghmm{background-image:url("emoji/pepekinghmm.png")}
.em-pepespin{background-image:url("emoji/pepespin.gif")}
.em-pepetrash{background-image:url("emoji/pepetrash.png")}
.em-pepoban{background-image:url("emoji/pepoban.png")}
.em-pepoban2{background-image:url("emoji/pepoban2.png")}
.em-rarepepe{background-image:url("emoji/rarepepe.gif")}
.em-skippadance{background-image:url("emoji/skippadance.gif")}
.em-toastercat{background-image:url("emoji/toastercat.gif")}
.em-toxic{background-image:url("emoji/toxic.png")}
.em-ultrafastparrot{background-image:url("emoji/ultrafastparrot.gif")}
.em-uwu{background-image:url("emoji/uwu.png")}
.em-angycatsantahat{background-image:url("emoji/angycatsantahat.png")}
.em-catbanuser{background-image:url("emoji/catbanuser.gif")}
.em-catsantahat{background-image:url("emoji/catsantahat.png")}
.em-catsantahat2{background-image:url("emoji/catsantahat2.png")}
.em-christmaschair{background-image:url("emoji/christmaschair.png")}
.em-christmasfrank{background-image:url("emoji/christmasfrank.png")}
.em-christmaswhat{background-image:url("emoji/christmaswhat.png")}
.em-clapclap{background-image:url("emoji/clapclap.gif")}
.em-cookies{background-image:url("emoji/cookies.png")}
.em-dovolen{background-image:url("emoji/dovolen.png")}
.em-dragonheart{background-image:url("emoji/dragonheart.png")}
.em-elka{background-image:url("emoji/elka.png")}
.em-epicpepe{background-image:url("emoji/epicpepe.png")}
.em-fish{background-image:url("emoji/fish.png")}
.em-fullsocs{background-image:url("emoji/fullsocs.png")}
.em-gachisanta{background-image:url("emoji/gachisanta.png")}
.em-hai{background-image:url("emoji/hai.png")}
.em-hihi{background-image:url("emoji/hihi.png")}
.em-nedovolen{background-image:url("emoji/nedovolen.png")}
.em-parrothat{background-image:url("emoji/parrothat.gif")}
.em-pekacigan{background-image:url("emoji/pekacigan.png")}
.em-pekacoolboy{background-image:url("emoji/pekacoolboy.png")}
.em-pekacyber{background-image:url("emoji/pekacyber.png")}
.em-pekakalash{background-image:url("emoji/pekakalash.png")}
.em-pekaking{background-image:url("emoji/pekaking.png")}
.em-pekakolpak{background-image:url("emoji/pekakolpak.png")}
.em-pekakolpak2{background-image:url("emoji/pekakolpak2.png")}
.em-pekakruger{background-image:url("emoji/pekakruger.png")}
.em-pekaL{background-image:url("emoji/pekaL.png")}
.em-pekaLR{background-image:url("emoji/pekaLR.png")}
.em-pekamaffin{background-image:url("emoji/pekamaffin.png")}
.em-pekaR{background-image:url("emoji/pekaR.png")}
.em-pekaRL{background-image:url("emoji/pekaRL.png")}
.em-pepecat{background-image:url("emoji/pepecat.png")}
.em-pepechristmasad{background-image:url("emoji/pepechristmasad.png")}
.em-pepechu{background-image:url("emoji/pepechu.png")}
.em-pepeclown{background-image:url("emoji/pepeclown.png")}
.em-pepecostume{background-image:url("emoji/pepecostume.png")}
.em-pepeisabell{background-image:url("emoji/pepeisabell.png")}
.em-pepeomfg{background-image:url("emoji/pepeomfg.png")}
.em-pepesiege{background-image:url("emoji/pepesiege.png")}
.em-pepoaaaaa{background-image:url("emoji/pepoaaaaa.gif")}
.em-pepochristmasbeer{background-image:url("emoji/pepochristmasbeer.png")}
.em-pepoded{background-image:url("emoji/pepoded.png")}
.em-pepofmb{background-image:url("emoji/pepofmb.png")}
.em-pepohappynewyear{background-image:url("emoji/pepohappynewyear.png")}
.em-pepoholyyes{background-image:url("emoji/pepoholyyes.png")}
.em-pepohadscratch{background-image:url("emoji/pepohadscratch.gif")}
.em-pepohotet{background-image:url("emoji/pepohotet.png")}
.em-pepokiss{background-image:url("emoji/pepokiss.gif")}
.em-peponocold{background-image:url("emoji/peponocold.png")}
.em-peposanta{background-image:url("emoji/peposanta.png")}
.em-peporun{background-image:url("emoji/peporun.gif")}
.em-peposocold{background-image:url("emoji/peposocold.png")}
.em-pepowaitstory{background-image:url("emoji/pepowaitstory.png")}
.em-pixelsantadog{background-image:url("emoji/pixelsantadog.png")}
.em-pepoyra{background-image:url("emoji/pepoyra.gif")}
.em-rastroen{background-image:url("emoji/rastroen.png")}
.em-sadpepper{background-image:url("emoji/sadpepper.png")}
.em-sadsocs{background-image:url("emoji/sadsocs.png")}
.em-snegyry4ka{background-image:url("emoji/snegyry4ka.png")}
.em-SSelka{background-image:url("emoji/SSelka.png")}
