@use '../base.scss';

$background-color: rgba(0, 0, 0, 0.33) !default;

.CameraConsole__toolbar {
  top: 0;
  left: 0;
  right: 0;
  height: 2em;
  line-height: 2em;
  margin: 0.25em 1em 0;
}

.CameraConsole__list {
  width: base.em(220px);
}

.CameraConsole__map {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0.5em;
  text-align: center;

  .NoticeBox {
    margin-top: calc(50% - 2em);
  }
}
