.Excavation__Button {
  background-color: hsl(15, 95%, 27.3%) !important;
  border: 1px solid hsl(15, 95%, 15.1%);
  border-left-color: hsl(15, 75%, 40.2%);
  border-top-color: hsl(15, 75%, 40.2%);
  margin: 0px;
  vertical-align: top;
  width: 30px;
  height: 30px;
  border-radius: 0px;
  &:hover {
    background-color: hsl(15, 95%, 19.4%) !important;
    border: 1px solid hsl(15, 75%, 33.9%);
    border-left-color: hsl(15, 95%, 13.5%);
    border-top-color: hsl(15, 95%, 13.5%);
  }
}

.Excavation__Button.Excavation__Button--fossil-revealed {
  background-color: hsl(0, 0%, 27.3%) !important;
  border: 1px solid hsl(0, 0%, 15.1%);
  border-left-color: hsl(0, 0%, 40.2%);
  border-top-color: hsl(0, 0%, 40.2%);
  &:hover {
    background-color: hsl(0, 0%, 19.4%) !important;
    border: 1px solid hsl(0, 0%, 33.9%);
    border-left-color: hsl(0, 0%, 13.5%);
    border-top-color: hsl(0, 0%, 13.5%);
  }
}

.Excavation__Button.Button--disabled {
  border: 0;
  background-color: hsl(15, 95%, 19.4%) !important;
}
