.Minesweeper__Button {
  font-size: 22px;
  font-weight: bold;
  border: 5px solid #404040;
  border-left-color: #808080;
  border-top-color: #808080;
  margin: 0px;
  vertical-align: top;
  width: 30px;
  height: 30px;
  border-radius: 0px;
  padding-left: 2px;
  background-color: #5f5f5f !important;
  &:hover {
    background-color: #4b4b4b !important;
    border: 5px solid #707070;
    border-left-color: #3C3C3C;
    border-top-color: #3C3C3C;
    .Minesweeper__Button-Content {
      zoom: 90%;
      top: -7px !important;
      left: 1px;
    }
  }
  .Minesweeper__Button-Content {
    position: relative;
    top: -8px;
    transform: scale(0.75, 0.75);
  }
}

.Minesweeper__Button.Button--disabled {
  border: 2px solid #2f2f2f;
  padding-left: 5px;
  background-color: #4b4b4b !important;
  &:hover {
    .Minesweeper__Button-Content {
      zoom: 100%;
      top: -6px !important;
      left: 0px !important;
    }
  }
  .Minesweeper__Button-Content {
    top: -6px;
    transform: scale(1, 1);
  }
}
