
.SSInput {
	display: flex;
	justify-content: center;
}

.SSInput-Box-Buttons {
	display: flex;
	justify-content: center;
	margin-top: 5px;
}

.SSInput-Button {
	width: 120px;
	text-align: center;
	font-size: 15px;
}
