## NPM garbage
node_modules
*.log

## Build artifacts
/public/.tmp/**/*
!/public/*.html

## Previously ignored locations that are kept to avoid confusing git
## while transitioning to a new project structure.
/packages/tgui/public/**
