/** 
 * IE10 and above has amazaing (no) transparent scrollbar.
 * This tweak can handle and disable it.
 */
body { -ms-overflow-style: scrollbar !important; }

.header {
	background-image: url(Space.png);
	background-attachment: fixed;
	background-position: center;
	color: darkgrey;
}

.header a.btn {
	font-size: 14px;
}

#open-legend-button {
	display: block;
	margin: auto;
}

#legend-text {
	display: none;
	position: relative;
}

#legend-text ul {
	list-style: none;
	display: inline-block;
}

#legend-text li {
	background-repeat: no-repeat;
	background-position: 6px center;
	padding-left: 30px;
}

#close-legend-button {
	position: absolute;
	top: 0;
	right: 10px;
}

#tm-changelogs {
	background-color: whitesmoke;
	margin: 10px 0 10px 0;
	padding: 5px;
	border-radius: 5px;
}

#tm-changelogs h3.row-header {
	border-color: #5cb85c;
}

#tm-changelogs li {
	background-color: white;
}

h3.row-header {
	display: inline-block;
    width: 350px;
    border-bottom: 2px solid #337ab7;
	font-size: 23px;
}

ul.changelog {
	list-style: none;
	padding-left: 5px;
}

ul.changelog li {
	padding: 2px 10px 2px 30px;
	margin: 0 0 5px 0;
	border: 1px solid darkgrey;
	border-left: 3px solid #33a3dd;
	background-position: 6px center;
	background-repeat: no-repeat;
	word-wrap: break-word;
}

h4.author {
	font-size: 15px;
	font-weight: 600;
}

hr {
	margin-top: 7px;
	margin-bottom: 7px;
}

.link-btn {
	padding: 0px 5px;
}


.bugfix {
	background-image: url(BugFix.png);
	border-left-color: #99dba1 !important;
}
.rscadd {
	background-image: url(CircledPlus.png);
	border-left-color: #11a822 !important;
}
.rscdel {
	background-image: url(CircledMinus.png);
	border-left-color: #d14a4a !important;
}
.image {
	background-image: url(Picture.png);
	border-left-color: #006b75 !important;
}
.sound {background-image: url(Sound.png);}
.spellcheck {
	background-image: url(SpellCheck.png);
	border-left-color: #d4c5f9 !important;
}
.tweak {
	background-image: url(Wrench.png);
	border-left-color: #708090 !important
}
.performance {
	background-image: url(Performance.png);
	border-left-color: #0052cc !important
}
.experiment {
	background-image: url(NukeBurn.png);
	border-left-color: #dfce37 !important;
}
.balance {
	background-image: url(Balance.png);
	border-left-color: #ffba73 !important;
}
.map {
	background-image: url(Map.png);
	border-left-color: #CC3391 !important;
}