{{if data.has_scanner}}	<!--Machine has scanning pad-->
	{{if data.harvesting > 0}}	<!--Harvesting-->
		<div class="item">
			<div class="itemContent">
				Please wait. Harvesting in progress ({{:data.battery_charge_level}}%)
			</div>
		</div>
	{{else data.harvesting < 0}}	<!--Dumping-->
		<div class="item">
			<div class="itemContent">
				Please wait. Energy dump in progress ({{:data.battery_charge_level}}%)
			</div>
		</div>
	{{else}}						<!--Machine isn't busy-->
		{{if data.has_battery}}<!--and has battery-->
			<div class="item">
				<div class="itemLabel">
					{{:data.battery_name}}:
				</div>
				<div class="itemContent">
					Inserted
				</div>
			</div>
			
			<div class="item">
				<div class="itemLabel">
					Charge level:
				</div>
				<div class="itemContent">
					{{:data.battery_charge}}/{{:data.battery_capacity}} ({{:data.battery_charge_level}}%)
				</div>
			</div>
			
			<div class="item">
				<div class="itemLabel">
					Energy signature ID:
				</div>
				<div class="itemContent">
					{{:data.energy_signature}}
				</div>
			</div>
		{{else}}					<!--Or hasn't battery-->
			<div class="item">
				<div class="itemLabel">
					Anomaly power battery:
				</div>
				<div class="itemContent">
					Not inserted
				</div>
			</div>
		{{/if}}
	{{/if}}
{{else}}							<!--Scanning pad?-->
	<h3><span class='bad'>Unable to locate analysis pad.</span></h3>
{{/if}}

<div>
	{{if data.has_scanner}}
		{{if data.harvesting}}
			{{:helper.link('Halt early', 'stop', {'stopharvest' : 1})}}
		{{else}}
			{{if data.has_battery}}
				{{:helper.link('Eject battery', 'eject', {'ejectbattery' : 1})}}
				{{:helper.link('Drain battery of all charge', 'trash', {'drainbattery' : 1})}}
				{{:helper.link('Begin harvesting', 'start', {'harvest' : 1})}}
			{{/if}}
		{{/if}}
	{{/if}}
	{{:helper.link('Refresh', 'refresh', {'refresh' : 1})}}
	{{:helper.link('Close', 'close', {'close' : 1})}}
</div>