<div class="item">
  <div class="itemContent">
    {{:helper.link('Close', 'gear', {'close' : '1'}, null, 'fixedLeft')}}
	{{if data.symptomdesc}}
		{{:helper.link('Back', 'arrowreturnthick-1-w', {'back' : '1'}, null, 'fixedLeft')}}
	{{/if}}
  </div>
</div>

{{if data.working}}
  <h5 class='average'>The Incubator is currently busy.</h5>
  <div class='notice'>
    <center><span class='bad'>Working...</span></center>
  </div>
  <p>
    Thank you for your patience!
  </p>
{{else}}

	{{if data.symptomdesc}}
		<div class="statusDisplay" style="height: 120px; overflow: auto;">
		  <div class='item'>
			<div class="itemLabelWidest">
			  <span class='good'>{{:data.analysed ? data.symptomname : "Unknown"}}</span>
			</div>
			<div style="float: left; width: 100%;">
			  {{:data.analysed ? data.symptomdesc : "Unknown"}}
			</div>
		  </div>
		</div>
	{{else}}
		<div class="item">
		  <h2>Environmental Conditions</h2>
		</div>
		<div class='item'>
		  {{:helper.link('Irradiate', 'radiation', {'rad' : 1})}}
		  {{:helper.link('Inject sleep-toxin', 'circle-minus', {'sleeptoxin' : 1}, data.sleeptoxinsupply > 0 ? null : 'disabled')}}
		</div>
		<div class='item'>
		  {{:helper.link('Inject food', 'circle-plus', {'food' : 1}, data.food_supply > 0 ? null : 'disabled')}}
		  {{:helper.link('Inject toxin', 'circle-plus', {'toxin' : 1}, data.toxinsupply > 0 ? null : 'disabled')}}
		</div>
		<div class='item'>
		  {{:helper.link('Inject synaptizine', 'alert', {'synaptizine' : 1}, data.synaptizinesupply > 0 ? null : 'disabled')}}
		  {{:helper.link('Inject phoron', 'alert', {'phoron' : 1}, data.phoronsupply > 0 ? null : 'disabled')}}
		</div>

		<div class="statusDisplay" style="height: 120px; overflow: auto;">
		  <div class='item'>
			<div class="itemLabel">
			  <span class='good'>Virus Food:</span>
			</div>
			<div class="itemContent">
			  {{:helper.displayBar(data.food_supply, 0, 100, 'good', data.food_supply)}}
			</div>
		  </div>
		  <div class='item'>
			<div class="itemLabel">
			  <span class='good'>Toxin:</span>
			</div>
			<div class="itemContent">
			  {{:helper.displayBar(data.toxinsupply, 0, 100, 'good', data.toxinsupply)}}
			</div>
		  </div>
		  <div class='item'>
			<div class="itemLabel">
			  <span class='good'>Synaptizine:</span>
			</div>
			<div class="itemContent">
			  {{:helper.displayBar(data.synaptizinesupply, 0, 100, 'good', data.synaptizinesupply)}}
			</div>
		  </div>
		  <div class='item'>
			<div class="itemLabel">
			  <span class='good'>Phoron:</span>
			</div>
			<div class="itemContent">
			  {{:helper.displayBar(data.phoronsupply, 0, 100, 'good', data.phoronsupply)}}
			</div>
		  </div>
		  <div class='item'>
			<div class="itemLabel">
			  <span class='good'>Sleep-Toxin:</span>
			</div>
			<div class="itemContent">
			  {{:helper.displayBar(data.sleeptoxinsupply, 0, 100, 'good', data.sleeptoxinsupply)}}
			</div>
		  </div>
		</div>

		<div class="item">
		  <h2>Chemicals</h2>
		</div>
		<div class='item'>
		  {{:helper.link('Eject Chemicals', 'eject', { 'ejectchem' : 1 }, data.chemicals_inserted ? null : 'disabled')}}
		  {{:helper.link('Breed Virus', 'circle-arrow-s', { 'virus' : 1 }, data.can_breed_virus ? null : 'disabled')}}
		</div>

		{{if data.chemicals_inserted}}
		  <div class='item'>
			<div class='itemLabel'>
			  Volume:
			</div>
			<div class='itemContent'>
			  {{:helper.displayBar(data.chemical_volume, 0, data.max_chemical_volume, 'good', data.chemical_volume + ' / ' + data.max_chemical_volume)}}
			</div>
		  </div>
		  <div class='item'>
			<div class='itemLabel'>
			  Breeding Environment:
			</div>
			<div class='itemContent'>
			  <span class='{{:data.can_breed_virus ? "good" : "average"}}'>
				{{:!data.dish_inserted ? 'N/A' : data.can_breed_virus ? 'Suitable' : 'No hemolytic samples detected'}}
			  </span>
			  {{if data.blood_already_infected}}
				<br/>
				<span class='bad'><i>CAUTION: Viral infection detected in blood sample.</i></span>
			  {{/if}}
			</div>
		  </div>
		{{else}}
		  <div class='item'>
			<span class='average'>No chemicals inserted.</span>
		  </div>
		{{/if}}

		<div class="item">
		  <h2>Virus Dish</h2>
		</div>
		<div class='item'>
		  {{:helper.link('Eject Dish', 'eject', {'ejectdish' : 1}, data.dish_inserted ? null : 'disabled')}}
		</div>

		{{if data.dish_inserted}}
		  {{if data.virus}}
		  <div class='item'>
			<div class='itemLabel'>
			  <b>Infection Rate:</b>
			</div>
			<div class='itemContent'>
			  {{:data.analysed ? data.infection_rate : "Unknown"}}
			</div>
		  </div>
		  {{else}}
			<div class="item">
			  <span class='average'>No virus detected.</span>
			</div>
		  {{/if}}
		{{else}}
		  <div class="item">
			<span class='average'>No dish loaded.</span>
		  </div>
		{{/if}}


		{{if data.effects}}
		  <div class="statusDisplay" style="height: 200px; overflow: auto;">
			<div class='item'>
				<div class='itemLabelWide'>
					<span class='good'>Symptoms:</span>
				</div>
				{{for data.effects}}
				<div class='item'>
					<div class='itemContent'>
						<div>
						  <div class="highlight">
							{{:data.analysed ? value.name : "Unknown"}}
						  </div>
						</div>
					</div>
				
					<div>
						{{:helper.link('Info', 'help', {'symptominfo' : value.reference})}}
					</div>
				</div>
				{{/for}}
			</div>
			{{if data.affected_species}}
			  <div class='item'>
				<div class='itemLabelWide'>
				  <span class='good'>Affected Species:</span>
				</div>
				<div class='itemContent'>
				  <span class='highlight'>{{:data.analysed ? data.affected_species : "Unknown"}}</span>
				</div>
			  </div>
			{{/if}}
		  </div>
		{{/if}}
	{{/if}}
{{/if}}