
<!--
Title: PDA UI
Used In File(s): \code\game\objects\items\devices\PDA\PDA.dm
 -->

{{if data.owner}}
	<div class="item">
		<div class="itemLabelNarrow">
			 <b>Горячие клавиши</b>:
        </div>
        <div class="itemContent">
			<!--{{:helper.link('Refresh', 'refresh', {'choice' : "Refresh"}, null, 'fixedLeft')}}-->
			{{:helper.link('Выйти', 'gear', {'choice' : "Close"}, null, 'fixedLeft')}}
			{{if data.idInserted}} {{:helper.link('Перезагрузить', 'eject', {'choice' : "UpdateInfo"}, null, 'fixedLeftWide')}} {{/if}}
			{{if data.mode != 0}} {{:helper.link('Назад', 'arrowreturn-1-w', {'choice' : "Return"}, null, 'fixedLeft')}} {{/if}}
		</div>
	</div>
	<br>
	<div class="item">
		<div class="itemLabelNarrow">
			<b>Время</b>:
		</div>
		<div class="itemContent">
			<span class="average">{{:data.stationTime}}&emsp;[{{:data.securityLevel}}]</span>
		</div>
	</div>
    {{if data.shuttle_eta}}
        <div class="item">
            <div class="itemLabelNarrow">
                <b>Прибытие шаттла</b>:
            </div>
            <div class="itemContent">
                <span class="average">{{:data.shuttle_eta}}</span>
            </div>
        </div>
    {{/if}}
    <br>


	{{if data.mode == 0}} <!-- Main Menu -->
        <div class="item">
            <div class="itemLabelNarrow">
                Аккаунт:
            </div>
            <div class="itemContent">
                <span class="average">{{:data.owner}}, {{:data.ownjob}}</span>
            </div>
        </div>
        <br>
        <div class="item">
            <div class="itemLabelNarrow">
                ИН:
            </div>
            <div class="itemContent">
                {{:helper.link(data.idLink, 'eject', {'choice' : "Authenticate"}, data.idInserted ? null : 'disabled', data.idInserted ? 'floatright' : 'fixedLeft')}}
            </div>
        </div>
        <br>
        <div class="item">
            <div class="itemLabelNarrow">
                    <b>Доп. Устройства</b>:
            </div>
            <div class="itemContent">
                {{if data.cart_loaded==1}}
                    {{:helper.link(data.cartridge.name, 'eject', {'choice' : "Eject"},null,null)}}
                {{else}}
                    {{:helper.link('Слот пуст', 'eject', {'choice' : "Eject"},'disabled',null)}}
                {{/if}}
            </div>
        </div>
        <div class="item">
            <H2>Приложения</H2>
        </div>
        <div class="item">
            <div class="itemLabelNarrow">
                <b>Стандартные</b>:
            </div>
            <div class="itemContent">
                {{:helper.link('Блокнот', 'note', {'choice' : "1"}, null, 'fixedLeftWide')}}
                {{:helper.link('Почта', data.new_Message ? 'mail-closed' : 'mail-open', {'choice' : "2"}, null, 'fixedLeftWide')}}
                {{:helper.link('Экипаж', 'contact', {'choice' : "41"}, null, 'fixedLeftWide')}}
				<!-- {{:helper.link('News', data.new_News ? 'mail-closed' : 'mail-open', {'choice' : "6"}, null, 'fixedLeftWide')}} -->
				{{:helper.link('Кошелёк', 'suitcase', {'choice' : "Finance"}, null, 'fixedLeftWide')}}
            </div>
        </div>
        <br>
        {{if data.cartridge}}
            {{if data.cartridge.access.access_clown == 1}}
                <div class="item">
                    <div class="itemLabelNarrow">
                        <b>Хонкер</b>:
                    </div>
                    <div class="itemContent">
                        {{:helper.link('Генератор хонка', 'gear', {'choice' : "Honk"}, null, 'fixedLeftWide')}}
                    </div>
                </div>
                <br>
            {{/if}}
            {{if data.cartridge.access.access_engine == 1}}
                <div class="item">
                    <div class="itemLabelNarrow">
                        <b>Инженерия</b>:
                    </div>
                    <div class="itemContent">
                        {{:helper.link('Электросети', 'alert', {'choice' : "43"}, null, 'fixedLeftWide')}}
                    </div>
                </div>
                 <br>
            {{/if}}
            {{if data.cartridge.access.access_medical == 1}}
                <div class="item">
                    <div class="itemLabelNarrow">
                        <b>Медицина</b>:
                    </div>
                    <div class="itemContent">
                            {{:helper.link('Мед. записи', 'gear', {'choice' : "44"}, null, 'fixedLeftWide')}}
                            {{:helper.link(data.scanmode == 1 ? 'Выкл. мед. сканер' : 'Вкл. мед. сканер', 'gear', {'choice' : "Medical Scan"}, null , 'fixedLeftWide')}}
                    </div>
                </div>
                <br>
            {{/if}}
            {{if data.cartridge.access.access_security == 1}}
                <div class="item">
                    <div class="itemLabelNarrow">
                        <b>Охрана</b>:
                    </div>
                    <div class="itemContent">
                        {{:helper.link('Охран. записи', 'gear', {'choice' : "45"}, null, 'fixedLeftWide')}}
                        {{if data.cartridge.radio ==1}} {{:helper.link('Управление ботом охраны', 'gear', {'choice' : "46"}, null, 'fixedLeftWide')}} {{/if}}
                        <br>
                    </div>
                </div>
                <br>
            {{/if}}
            {{if data.cartridge.access.access_quartermaster == 1}}
                <div class="item">
                    <div class="itemLabelNarrow">
                        <b>Логистика</b>:
                    </div>
                    <div class="itemContent">
                        {{:helper.link('Груз. записи', 'gear', {'choice' : "47"}, null, 'fixedLeftWide')}}
                        {{if data.cartridge.radio == 3}} {{:helper.link('Управление ботом доставки', 'gear', {'choice' : "48"}, null, 'fixedLeftWide')}} {{/if}}
                         <br>
                    </div>
                </div>
                <br>
            {{/if}}
        {{/if}}
        <br>
        <div class="item">
            <div class = "itemLabelNarrow">
                <b>Утилиты</b>:
            </div>
            <div class = "itemContent">
                {{if data.cartridge}}
                    {{if data.cartridge.access.access_status_display == 1}}
                        {{:helper.link('Мониторы станции', 'gear', {'choice' : "42"}, null, 'fixedLeftWide')}}
                    {{/if}}
                    {{if data.cartridge.access.access_janitor==1}}
                        {{:helper.link('Инв. уборщика', 'gear', {'choice' : "49"}, null, 'fixedLeftWide')}}
                    {{/if}}
                    {{if data.cartridge.radio == 2}}
                        {{:helper.link('Радиопередатчик', 'gear', {'choice' : "40"}, null, 'fixedLeftWide')}}
                    {{/if}}
                    {{if data.cartridge.access.access_reagent_scanner==1}}
                        {{:helper.link(data.scanmode == 3 ? 'Выкл. спектрометр' : 'Вкл. спектрометр', 'gear', {'choice' : "Reagent Scan"}, null, 'fixedLeftWide')}}
                    {{/if}}
                    {{if data.cartridge.access.access_engine==1}}
                        {{:helper.link(data.scanmode == 4 ? 'Выкл. дозиметр' : 'Вкл. дозиметр', 'gear', {'choice' : "Halogen Counter"}, null, 'fixedLeftWide')}}
                    {{/if}}
                    {{if data.cartridge.access.access_atmos==1}}
                        {{:helper.link(data.scanmode == 5 ? 'Выкл. газоанализатор' : 'Вкл. газоанализатор', 'gear', {'choice' : "Gas Scan"}, null, 'fixedLeftWide')}}
                    {{/if}}
                    {{if data.cartridge.access.access_remote_door==1}}
                        {{:helper.link('Управление шлюзами', 'gear', {'choice' : "Toggle Door"}, null, 'fixedLeftWide')}}
                    {{/if}}
                {{/if}}
                {{:helper.link('Газоанализатор', 'gear', {'choice' : "3"}, null, 'fixedLeftWide')}}
                {{:helper.link(data.fon==1 ? 'Выкл. фонарик' : 'Вкл. фонарик', 'lightbulb', {'choice' : "Light"}, null,'fixedLeftWide')}}
            </div>
        </div>
        {{if data.pai}}
            <div class="item">
                <div class = "itemLabelNarrow">
                    <b>Управление ПИИ</b>:
                </div>
                <div class = "itemContent">
                    {{:helper.link('Настройки', 'gear', {'choice' : "pai", 'option' : "1"}, null, 'fixedLeft')}}
                    {{:helper.link('Извлечь', 'eject', {'choice' : "pai", 'option' : "2"}, null, 'fixedLeft')}}
                </div>
            </div>
        {{/if}}


	{{else data.mode == 1}} <!-- Notekeeper -->
        <div class="item">
            <div class="itemLabel">
                <b>Записи</b>:
            </div>
        </div>
        <div class="statusDisplayRecords">
            <div class="item">
                <div class="itemContent" style="width: 100%;">
                        <span class="average">{{:data.note}}</span>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="itemLabel">
                {{:helper.link('Редактировать', 'gear', {'choice' : "Edit"}, null, 'fixedLeftWide')}}
            </div>
        </div>


    {{else data.mode == 2}} <!-- Messenger -->
        <H2>Почта</H2>
        <div class="item">
            <div class="itemLabelNarrow">
                <b>Параметры</b>:
            </div>
            <div class ="itemContent">
                {{:helper.link(data.message_silent==1 ? 'Режим: Звук' : 'Режим: Без звука', data.message_silent==1 ? 'volume-off' : 'volume-on', {'choice' : "Toggle Ringer"}, null, 'fixedLeftWide')}}
                {{:helper.link(data.toff==1 ? 'Статус: Не в сети' : 'Статус: В сети',data.toff==1 ? 'close':'check', {'choice' : "Toggle Messenger"}, null, 'fixedLeftWide')}}
                {{:helper.link('Изменить рингтон', 'comment', {'choice' : "Ringtone"}, null, 'fixedLeftWide')}}
                {{:helper.link('Удалить все чаты', 'trash', {'choice' : "Clear", 'option' : "All"}, null, 'fixedLeftWider')}}
            </div>
        </div>
        {{if data.toff == 0}}
            <br><br>
            {{if data.cartridge}}
                {{if data.cartridge.charges}}
                    <div class="item">
                        <b>{{:data.cartridge.charges}}
                        {{if data.cartridge.access.access_detonate_pda}} зарядов осталось. {{/if}}
                        {{if data.cartridge.access.access_clown || data.cartridge.access.access_mime}} троянов осталось. {{/if}}
                        </b>
                        <br><br>
                    </div>
                {{/if}}
            {{/if}}

            {{if data.pda_count == 0}}
                <b>Нет других КПК</b>
            {{else}}
                <H3>Активные чаты</H3>
                {{for data.convopdas}}
                    <div class="item">
                        {{:helper.link(value.Name, 'circle-arrow-s', {'choice' : "Select Conversation", 'convo' : value.Reference } , null, value.fixedLeftWider)}}
                        {{if data.cartridge}}
                            {{if data.cartridge.access.access_detonate_pda && value.Detonate}}
                                {{:helper.link('*Взорвать*', 'radiation', {'choice' : "Detonate", 'target' : value.Reference}, null, 'fixedLeft')}}
                            {{/if}}
                            {{if data.cartridge.access.access_clown}}
                                {{:helper.link('*Отправить вирус*', 'star', {'choice' : "Send Honk", 'target' : value.Reference}, null, 'fixedLeft')}}
                            {{/if}}
                            {{if data.cartridge.access.access_mime}}
                                {{:helper.link('*Отправить вирус*', 'circle-arrow-s', {'choice' : "Send Silence", 'target' : value.Reference}, null, 'fixedLeft')}}
                            {{/if}}
                        {{/if}}
                    </div>
                {{/for}}
                <H3>Создать новый чат</H3>
                {{for data.pdas}}
                    <div class="item">
                        {{:helper.link(value.Name, 'circle-arrow-s', {'choice' : "Message", 'target' : value.Reference}, null, value.fixedLeftWider)}}
                        {{if data.cartridge}}
                            {{if data.cartridge.access.access_detonate_pda && value.Detonate}} {{:helper.link('*Взорвать*', 'radiation', {'choice' : "Detonate", 'target' : value.Reference}, null, 'fixedLeft')}}  {{/if}}
                            {{if data.cartridge.access.access_clown}} {{:helper.link('*Отправить вирус*', 'star', {'choice' : "Send Honk", 'target' : value.Reference}, null, 'fixedLeft')}}  {{/if}}
                            {{if data.cartridge.access.access_mime}}  {{:helper.link('*Отправить вирус*', 'circle-arrow-s', {'choice' : "Send Silence", 'target' : value.Reference}, null, 'fixedLeft')}}  {{/if}}
                        {{/if}}
                    </div>
                {{/for}}
            {{/if}}
        {{/if}}


	{{else data.mode == 21}} <!-- Messenger -->
	    <H2>Почта</H2>
        <div class="item">
            <div class="itemLabel">
                <b>Параметры переписки</b>:
            </div>
            <div class ="itemContent">
                {{:helper.link('Очистить историю сообщений', 'trash', {'choice' : "Clear", 'option' : "Convo"}, null, 'fixedLeftWide')}}
            </div>
        </div>
        <br>
        <br>
        <H3>Чат с:&nbsp;<span class="average">{{:data.convo_name}}&nbsp;({{:data.convo_job}})</span></H3>
        <div class="Chat" style="overflow: auto;">
            <div class="item">
                <div class="itemContent" style="width: 100%;">
                    {{for data.messages}}
                        {{if data.active_conversation == value.target}}
                            {{if value.sent==0}}
                                <span class="message_left"><left><small><span class="average">{{:value.reciever}}</span></small></left>{{:value.message}}</span><br>
                            {{else}}
                                <span class="message_right">{{:value.message}}</span><br>
                            {{/if}}
                        {{/if}}
                    {{/for}}
                </div>
            </div>
        </div>
        {{:helper.link('Ответить', 'comment', {'choice' : "Message", 'target': data.active_conversation}, null, 'fixedLeft')}}


	{{else data.mode== 41}} <!-- Manifest uses cached data so we only use nanowriter when shit changes.-->
	    <div class="item">
            <center><table class="pmon"><tbody>
                {{if data.cached.heads.length}}
                    <tr><th colspan="4" class="command">Командный состав</th></tr>
                    {{for data.cached["heads"]}}
                        {{if value.rank == "Captain"}}
							<tr><td>{{:helper.link('Перевод на карту', null, {'choice' : "Send Money", 'account' : value.account}, null, null)}}{{:helper.link('Чат', null, {'choice' : "DM", 'reciever' : value.name}, null, null)}}</td>
                            <td><span class="good">{{:value.name}}</span></td><td><span class="good">{{:value.rank}}</span></td><td><span class="good">{{:value.active}}</span></td></tr>
                        {{else}}
							<tr><td>{{:helper.link('Перевод на карту', null, {'choice' : "Send Money", 'account' : value.account}, null, null)}}{{:helper.link('Чат', null, {'choice' : "DM", 'reciever' : value.name}, null, null)}}</td>
                            <td><span class="average">{{:value.name}}</span></td><td><span class="average">{{:value.rank}}</span></td><td><span class="average">{{:value.active}}</span></td></tr>
                        {{/if}}
                    {{/for}}
                {{/if}}
                {{if data.cached.sec.length}}
                    <tr><th colspan="4" class="sec">Охранный состав</th></tr>
                    {{for data.cached["sec"]}}
                        {{if value.rank == "Head of Security"}}
							<tr><td>{{:helper.link('Перевод на карту', null, {'choice' : "Send Money", 'account' : value.account}, null, null)}}{{:helper.link('Чат', null, {'choice' : "DM", 'reciever' : value.name}, null, null)}}</td>
                            <td><span class="good">{{:value.name}}</span></td><td><span class="good">{{:value.rank}}</span></td><td><span class="good">{{:value.active}}</span></td></tr>
                        {{else}}
							<tr><td>{{:helper.link('Перевод на карту', null, {'choice' : "Send Money", 'account' : value.account}, null, null)}}{{:helper.link('Чат', null, {'choice' : "DM", 'reciever' : value.name}, null, null)}}</td>
                            <td><span class="average">{{:value.name}}</span></td><td><span class="average">{{:value.rank}}</span></td><td><span class="average">{{:value.active}}</span></td></tr>
                        {{/if}}
                    {{/for}}
                {{/if}}
                {{if data.cached.eng.length}}
                    <tr><th colspan="4" class="eng">Инженерный персонал</th></tr>
                    {{for data.cached["eng"]}}
                        {{if value.rank == "Chief Engineer"}}
                            <tr><td>{{:helper.link('Перевод на карту', null, {'choice' : "Send Money", 'account' : value.account}, null, null)}}{{:helper.link('Чат', null, {'choice' : "DM", 'reciever' : value.name}, null, null)}}</td>
                            <td><span class="good">{{:value.name}}</span></td><td><span class="good">{{:value.rank}}</span></td><td><span class="good">{{:value.active}}</span></td></tr>
                        {{else}}
                            <tr><td>{{:helper.link('Перевод на карту', null, {'choice' : "Send Money", 'account' : value.account}, null, null)}}{{:helper.link('Чат', null, {'choice' : "DM", 'reciever' : value.name}, null, null)}}</td>
                            <td><span class="average">{{:value.name}}</span></td><td><span class="average">{{:value.rank}}</span></td><td><span class="average">{{:value.active}}</span></td></tr>
                        {{/if}}
                    {{/for}}
                {{/if}}
                {{if data.cached.med.length}}
                    <tr><th colspan="4" class="med">Медицинский персонал</th></tr>
                    {{for data.cached["med"]}}
                        {{if value.rank == "Chief Medical Officer"}}
                            <tr><td>{{:helper.link('Перевод на карту', null, {'choice' : "Send Money", 'account' : value.account}, null, null)}}{{:helper.link('Чат', null, {'choice' : "DM", 'reciever' : value.name}, null, null)}}</td>
                            <td><span class="good">{{:value.name}}</span></td><td><span class="good">{{:value.rank}}</span></td><td><span class="good">{{:value.active}}</span></td></tr>
                        {{else}}
                            <tr><td>{{:helper.link('Перевод на карту', null, {'choice' : "Send Money", 'account' : value.account}, null, null)}}{{:helper.link('Чат', null, {'choice' : "DM", 'reciever' : value.name}, null, null)}}</td>
                            <td><span class="average">{{:value.name}}</span></td><td><span class="average">{{:value.rank}}</span></td><td><span class="average">{{:value.active}}</span></td></tr>
                        {{/if}}
                    {{/for}}
                {{/if}}
                {{if data.cached.sci.length}}
                    <tr><th colspan="4" class="sci">Научный персонал</th></tr>
                    {{for data.cached["sci"]}}
                        {{if value.rank == "Research Director"}}
                            <tr><td>{{:helper.link('Перевод на карту', null, {'choice' : "Send Money", 'account' : value.account}, null, null)}}{{:helper.link('Чат', null, {'choice' : "DM", 'reciever' : value.name}, null, null)}}</td>
                            <td><span class="good">{{:value.name}}</span></td><td><span class="good">{{:value.rank}}</span></td><td><span class="good">{{:value.active}}</span></td></tr>
                        {{else}}
                            <tr><td>{{:helper.link('Перевод на карту', null, {'choice' : "Send Money", 'account' : value.account}, null, null)}}{{:helper.link('Чат', null, {'choice' : "DM", 'reciever' : value.name}, null, null)}}</td>
                            <td><span class="average">{{:value.name}}</span></td><td><span class="average">{{:value.rank}}</span></td><td><span class="average">{{:value.active}}</span></td></tr>
                        {{/if}}
                    {{/for}}
                {{/if}}
                {{if data.cached.civ.length}}
                    <tr><th colspan="4" class="civ">Гражданский персонал</th></tr>
                    {{for data.cached["civ"]}}
                        {{if value.rank == "Head of Personnel"}}
                            <tr><td>{{:helper.link('Перевод на карту', null, {'choice' : "Send Money", 'account' : value.account}, null, null)}}{{:helper.link('Чат', null, {'choice' : "DM", 'reciever' : value.name}, null, null)}}</td>
                            <td><span class="good">{{:value.name}}</span></td><td><span class="good">{{:value.rank}}</span></td><td><span class="good">{{:value.active}}</span></td></tr>
                        {{else}}
                            <tr><td>{{:helper.link('Перевод на карту', null, {'choice' : "Send Money", 'account' : value.account}, null, null)}}{{:helper.link('Чат', null, {'choice' : "DM", 'reciever' : value.name}, null, null)}}</td>
                            <td><span class="average">{{:value.name}}</span></td><td><span class="average">{{:value.rank}}</span></td><td><span class="average">{{:value.active}}</span></td></tr>
                        {{/if}}
                    {{/for}}
                {{/if}}
                {{if data.cached.misc.length}}
                    <tr><th colspan="4" class="misc">Другое</th></tr>
                    {{for data.cached["misc"]}}
                        <tr><td>{{:helper.link('Перевод на карту', null, {'choice' : "Send Money", 'account' : value.account}, null, null)}}{{:helper.link('Чат', null, {'choice' : "DM", 'reciever' : value.name}, null, null)}}</td>
                        <td><span class="average">{{:value.name}}</span></td><td><span class="average">{{:value.rank}}</span></td><td><span class="average">{{:value.active}}</span></td></tr>
                    {{/for}}
                {{/if}}
            </tbody></table></center>
        </div>


	{{else data.mode == 3}}
        <H2>Газоанализатор</H2>
        <div class="statusDisplay" style="height: 250px; overflow: auto;">
            <div class="item">
                {{if data.aircontents.reading == 1}}
                    <div class="itemLabel">
                        Давление:
                    </div>
                    <div class = "itemContent">
				        {{:helper.string('<span class="{0}">{1} кПа</span>', data.aircontents.pressure < 80 || data.aircontents.pressure > 120 ? 'bad' : data.aircontents.pressure < 95 || data.aircontents.pressure > 110 ? 'average' : 'good' , data.aircontents.pressure)}}
                    </div>
                    <div class="itemLabel">
                        Температура:
                    </div>
                    <div class = "itemContent">
				        {{:helper.string('<span class="{0}">{1} &deg;C</span>', data.aircontents.temp < 5 || data.aircontents.temp > 35 ? 'bad' : data.aircontents.temp < 15 || data.aircontents.temp > 25 ? 'average' : 'good' , data.aircontents.temp)}}
                    </div>
                    <br>
                    <div class="itemLabel">
                        Кислород:
                    </div>
                    <div class = "itemContent">
                        {{:helper.string('<span class="{0}">{1}%</span>', data.aircontents.oxygen < 17 ? 'bad' : data.aircontents.oxygen < 19 ? 'average' : 'good' , data.aircontents.oxygen)}}
                    </div>
                    <div class="itemLabel">
                        Азот:
                    </div>
                    <div class = "itemContent">
                        {{:helper.string('<span class="{0}">{1}%</span>', data.aircontents.nitrogen > 82 ? 'bad' : data.aircontents.nitrogen > 80 ? 'average' : 'good' , data.aircontents.nitrogen)}}
                    </div>
                    <div class="itemLabel">
                        Углекислый газ:
                    </div>
                    <div class = "itemContent">
                        {{:helper.string('<span class="{0}">{1}%</span>', data.aircontents.carbon_dioxide > 5 ? 'bad' : 'good' , data.aircontents.carbon_dioxide)}}
                    </div>
                    <div class="itemLabel">
                        Форон:
                    </div>
                    <div class = "itemContent">
                        {{:helper.string('<span class="{0}">{1}%</span>', data.aircontents.phoron  > 0 ? 'bad' : 'good' , data.aircontents.phoron)}}

                    </div>
                    {{if data.aircontents.other > 0}}
                        <div class="itemLabel">
                            Неизвестный газ:
                        </div>
                        <div class = "itemContent">
                            <span class="bad">{{:data.aircontents.other}}%</span>
                        </div>
                    {{/if}}
                {{else}}
                    <div class="itemContent" style="width: 100%;">
                        <span class="average"><b>Невозможно определить параметры газа</b></span>
                    </div>
                {{/if}}
            </div>
        </div>


	{{else data.mode == 40}} <!-- Cartridge: Signaler -->
        <H2>Радиопередатчик</H2>
        <div class="item">
            <div class="itemLabel">
                <b>Частота</b>:
            </div>
            <div class="itemContent">
                {{:data.records.signal_freq}}
                <br>
                &nbsp;
                {{:helper.link('-1', null, {'cartmenu' : "1", 'choice' : "Signal Frequency", 'sfreq' : "-10"}, null, null)}}&nbsp;
                {{:helper.link('-.2', null, {'cartmenu' : "1", 'choice' : "Signal Frequency", 'sfreq' : "-2"}, null, null)}}&nbsp;

                {{:helper.link('+.2', null, {'cartmenu' : "1", 'choice' : "Signal Frequency", 'sfreq' : "2"}, null, null)}}&nbsp;
                {{:helper.link('+1', null, {'cartmenu' : "1", 'choice' : "Signal Frequency", 'sfreq' : "10"}, null, null)}}
            </div>
        </div>
        <br>
        <br>
        <div class="item">
            <div class="itemLabel">
                    <b>Код</b>:
            </div>
            <div class="itemContent">
                <span class="average">
                    {{:data.records.signal_code}}<br>
                </span>
                {{:helper.link('-5', null, {'cartmenu' : "1", 'choice' : "Signal Code", 'scode' : "-5"}, null, null)}}
                {{:helper.link('-1', null, {'cartmenu' : "1", 'choice' : "Signal Code", 'scode' : "-1"}, null, null)}}
                {{:helper.link('+1', null, {'cartmenu' : "1", 'choice' : "Signal Code", 'scode' : "1"}, null, null)}}
                {{:helper.link('+5', null, {'cartmenu' : "1", 'choice' : "Signal Code", 'scode' : "5"}, null, null)}}
            </div>
        </div>
        <div class="item">
            {{:helper.link('Импульс', 'radiation', {'cartmenu' : "1", 'choice' : "Send Signal"}, null, null)}}
        </div>


    {{else data.mode == 42}}
        <H2>Управление мониторами станции</H2>
        <div class="item">
            <div class="itemLabel">
                <b>Код</b>:
            </div>
            <div class="itemContent">
                {{:helper.link('Очистить', 'trash', {'cartmenu' : "1", 'choice' : "Status", 'statdisp' : "blank"}, null, null)}}
                {{:helper.link('Прибытие шаттла', 'gear', {'cartmenu' : "1", 'choice' : "Status",'statdisp' : "shuttle"}, null, null)}}
                {{:helper.link('Сообщение', 'gear', {'cartmenu' : "1", 'choice' : "Status",'statdisp' : "message"}, null, null)}}
            </div>
        </div>
        <br>
        <div class="item">
            <div class="itemLabel">
                <b>Строка 1</b>
            </div>
            <div class="itemContent">
                {{:helper.link(data.records.message1 + ' (set)', 'pencil', {'cartmenu' : "1", 'choice' : "Status",'statdisp' : "setmsg1"}, null, null)}}
            </div>
        </div>
        <div class="item">
            <div class="itemLabel">
                <b>Строка 2</b>
            </div>
            <div class="itemContent">
                {{:helper.link(data.records.message2 + ' (set)', 'pencil', {'cartmenu' : "1", 'choice' : "Status",'statdisp' : "setmsg2"}, null, null)}}
            </div>
        </div>

        <br>
        <div class="item">
            <div class="itemLabel">
                <b> ТРЕВОГА!</b>:
            </div>
            <div class="itemContent">
                {{:helper.link('Нет опасности', 'gear', {'cartmenu' : "1", 'choice' : "Status",'statdisp' : "default"}, null, null)}}
                {{:helper.link('Боевая готовность', 'alert', {'cartmenu' : "1", 'choice' : "Status",'statdisp' : "alert", 'alert' : "redalert"}, null, null)}}
                {{:helper.link('Изоляция', 'caution', {'cartmenu' : "1", 'choice' : "Status",'statdisp' : "alert", 'alert' : "lockdown"}, null, null)}}
                {{:helper.link('Био-угроза', 'radiation', {'cartmenu' : "1", 'choice' : "Status",'statdisp' : "alert", 'alert' : "biohazard"}, null, null)}}
            </div>
        </div>

    {{else data.mode == 43}}
        <H2>Выбор датчика</H2>
        <div class="item">
            Доступные устройства:
        </div>
        {{for data.records.powermonitors}}
            <div class="item">
                {{:helper.link(value.Name, 'plus', {'cartmenu' : "1", 'choice' : "Power Select",'target' : value.ref})}}<br>
            </div>
        {{/for}}


    {{else data.mode == 433}}
        <H2>Показания датчиков</H2>
		{{if data.records.powermonitor_detected}}
			<table><tr><th>Помещение<th>Оборудование.<th>Свет.<th>Жизнеобеспечение.<th>Заряд %<th>Load
			{{for data.records.apcs}}
				<tr><td>{{:value.Name}}
				<td>{{:value.Equipment}}
				<td>{{:value.Lights}}
				<td>{{:value.Environment}}
				<td>{{:value.CellStatus}}
				<td>{{:value.Load}}
			{{empty}}
				<tr><td>Нет электрических щитов!
			{{/for}}
			</table>
			<br><b>Электроснабжение: {{:data.records.poweravail}} W</b>
			<br><b>Нагрузка: {{:data.records.powerload}} W</b>
		{{else}}
			Нет ответа от датчиков устройства! Попробуйте снова или свяжитесь со службой поддержки.
		{{/if}}

	{{else data.mode == 44}}
	    <H2>Медицинские записи</H2>
        <div class="item">
	        Выберите запись
	    </div>
	    <br>
		{{for data.records.medical_records}}
            <div class="item">
                 {{:helper.link(value.Name, 'gear', {'cartmenu' : "1", 'choice' : "Medical Records",'target' : value.ref}, null, null)}}
            </div>
		{{/for}}


	{{else data.mode == 441}}
        <H2>Медицинская запись</H2>
        <div class="statusDisplayRecords">
            <div class="item">
                <div class="itemContent" style="width: 100%;">
                    {{if data.records.general_exists == 1}}
                        <span class="good">Имя:		</span> <span class="average">{{:data.records.general.name}}	</span><br>
                        <span class="good">Пол:			</span> <span class="average">{{:data.records.general.sex}}		</span><br>
                        <span class="good">Раса:		</span> <span class="average">{{:data.records.general.species}}	</span><br>
                        <span class="good">Возраст:			</span> <span class="average">{{:data.records.general.age}}		</span><br>
                        <span class="good">Занятость:		</span> <span class="average">{{:data.records.general.rank}}	</span><br>
                        <span class="good">Отпечаток пальца:		</span> <span class="average">{{:data.records.general.fingerprint}}	</span><br>
                        <span class="good">Физическое состояние:	</span> <span class="average">{{:data.records.general.p_stat}}	</span><br>
                        <span class="good">Психическое состояние:	</span> <span class="average">{{:data.records.general.m_stat}}	</span><br><br>
                    {{else}}
                        <span class="bad">
                            Биометрическая карта потеряна!<br><br>
                        </span>
                    {{/if}}
                    {{if data.records.medical_exists == 1}}
                        Медицинская карта:<br>
                        <span class="good">Группа крови:		</span> <span class="average">{{:data.records.medical.b_type}}	</span><br><br>
                        <span class="good">Лёгкие расстройства:	</span> <span class="average">{{:data.records.medical.mi_dis}}	</span><br>
                        <span class="good">Описание:		</span> <span class="average">{{:data.records.medical.mi_dis_d}}	</span><br><br>
                        <span class="good">Тяжёлые расстройства:	</span> <span class="average">{{:data.records.medical.ma_dis}}	</span><br>
                        <span class="good">Описание:		</span> <span class="average">{{:data.records.medical.ma_dis_d}}	</span><br><br>
                        <span class="good">Аллергии:		</span> <span class="average">{{:data.records.medical.alg}}		</span><br>
                        <span class="good">Описание:		</span> <span class="average">{{:data.records.medical.alg_d}}	</span><br><br>
                        <span class="good">Заболевание:	</span> <span class="average">{{:data.records.medical.cdi}}		</span><br>
                        <span class="good">Описание:		</span> <span class="average">{{:data.records.medical.alg_d}}	</span><br><br>
                        <span class="good">Примечания:	</span> <span class="average">{{:data.records.medical.notes}}	</span>
                    {{else}}
                        <span class="bad">
                            Медицинская карта потеряна!
                            <br>
                            <br>
                        </span>
                    {{/if}}
                </div>
            </div>
        </div>


 	{{else data.mode == 45}}
        <H2>Охранные записи</H2>
        <div class="item">
            Выберите запись
        </div>
        <br>
        {{for data.records.security_records}}
            <div class="item">
                 {{:helper.link(value.Name, 'gear', {'cartmenu' : "1", 'choice' : "Security Records",'target' : value.ref}, null, null)}}
            </div>
        {{/for}}


    {{else data.mode == 451}}
        <H2>Охранная запись</H2>
        <div class="statusDisplayRecords">
            <div class="item">
                <div class="itemContent" style="width: 100%;">
                    {{if data.records.general_exists == 1}}
                        <span class="good">Имя: </span> <span class="average"> {{:data.records.general.name}}</span><br>
                        <span class="good">Пол: </span>  <span class="average">{{:data.records.general.sex}} </span><br>
                        <span class="good">Раса: </span> <span class="average">{{:data.records.general.species}} </span><br>
                        <span class="good">Возраст: </span>  <span class="average">{{:data.records.general.age}} </span><br>
                        <span class="good">Домашняя система:  </span> <span class="average">{{:data.records.general.home_system}} </span><br>
                        <span class="good">Гражданство:  </span> <span class="average">{{:data.records.general.citizenship}} </span><br>
                        <span class="good">Членство:  </span> <span class="average">{{:data.records.general.faction}} </span><br>
                        <span class="good">Религия:  </span> <span class="average">{{:data.records.general.religion}} </span><br>
                        <span class="good">Занятость: </span>  <span class="average">{{:data.records.general.rank}} </span><br>
                        <span class="good">Отпечаток пальца:  </span> <span class="average">{{:data.records.general.fingerprint}} </span><br>
                        <span class="good">Физическое состояние:  </span> <span class="average">{{:data.records.general.p_stat}} </span><br>
                        <span class="good">Психическое состояние:  </span> <span class="average">{{:data.records.general.m_stat}} </span><br><br>
                    {{else}}
                        <span class="bad">
                            Биометрическая карта потеряна!<br><br>
                        </span>
                    {{/if}}
                    {{if data.records.security_exists == 1}}
                        Охранная карта:<br>
                        <span class="good">Уголовный статус:  </span><span class="average">{{:data.records.security.criminal}} </span><br><br>
                        <span class="good">Мелкие правонарушения:  </span><span class="average">{{:data.records.security.mi_crim}} </span><br>
                        <span class="good">Описание:  </span><span class="average">{{:data.records.security.mi_crim_d}} </span><br><br>
                        <span class="good">Преступления:  </span><span class="average">{{:data.records.security.ma_crim}} </span><br>
                        <span class="good">Описание:  </span><span class="average">{{:data.records.security.ma_crim_d}} </span><br><br>
                        <span class="good">Примечания:   </span><span class="average">{{:data.records.security.notes}} </span>
                    {{else}}
                        <span class="bad">
                            Охранная карта потеряна!<br><br>
                        </span>
                    {{/if}}
                </div>
            </div>
        </div>


	{{else data.mode == 46}}
	    <H2>Управление ботом охраны </H2>
		{{if data.records.beepsky.active == null || data.records.beepsky.active == 0}}
			{{if data.records.beepsky.count == 0}}
				<H1><span class="bad">Боты не найдены.</span></H1>
			{{else}}
                <div class="item">
			        Выберите бота.
                </div>
                <br>
                {{for data.records.beepsky.bots}}
			        <div class="item">
                         {{:helper.link(value.Name, 'gear', {'radiomenu' : "1", 'op' : "control",'bot' : value.ref}, null, null)}} (Location: {{:value.Location}})
			        </div>
                {{/for}}
			{{/if}}
			<br>
            {{:helper.link('Найти ботов','gear', {'radiomenu' : "1", 'op' : "scanbots"}, null, null)}}
		{{else}}
			<H1><span class="average">{{:data.records.beepsky.active}}</span></H1>
			<br><br>
			{{if data.records.beepsky.botstatus.mode == -1}}
                <H1><span class="bad">Ожидание ответа от сервера...</span></H1>
			{{else}}
                <H1><span class="good">Статус:</span></H1>
                <br>
                <div class = "item">
                    <div class="itemLabel">
                        <span class="good">Местоположение:</span>
                    </div>
                    <div class="itemContent">
                        <span class="average">{{:data.records.beepsky.botstatus.loca}}</span>
                    </div>
                </div>
                <div class = "item">
                    <div class="itemLabel">
                        <span class="good">Режим:</span>
                    </div>
                    <div class="itemContent">
                        <span class="average">
                            {{if data.records.beepsky.botstatus.mode ==0}}
                                Готов
                            {{else data.records.beepsky.botstatus.mode == 1}}
                                Преследование преступника
                            {{else data.records.beepsky.botstatus.mode ==2 || data.records.beepsky.botstatus.mode == 3}}
                                Арест преступника
                            {{else data.records.beepsky.botstatus.mode ==4}}
                                Продолжение патрулирования
                            {{else data.records.beepsky.botstatus.mode ==5}}
                                На патрулировании
                            {{else data.records.beepsky.botstatus.mode ==6}}
                                Выполняет запрос
                            {{/if}}
                        </span>
                    </div>
                </div>
                <div class="item">
                    {{:helper.link('Остановить патрулирование', 'gear', {'radiomenu' : "1", 'op' : "stop"}, null, null)}}
                    {{:helper.link('Продолжить патрулирование', 'gear', {'radiomenu' : "1", 'op' : "go"}, null, null)}}
                    {{:helper.link('Вызвать бота', 'gear', {'radiomenu' : "1", 'op' : "summon"}, null, null)}}
                </div>
			{{/if}}
			{{:helper.link('Вернуться в список ботов', 'gear', {'radiomenu' : "1", 'op' : "botlist"}, null, null)}}
		{{/if}}


	{{else data.mode == 47}}
		<H1><span class="average">Грузовые записи</span></H1>
		<div class="item">
			<div class="itemLabelNarrow">
				<span class="good">Местоположение:</span>
			</div>
			<div class="itemContent">
				<span class="average">
					{{if data.records.supply.shuttle_moving}}
					    Направляется к станции ({{:data.records.supply.shuttle_eta}})
					{{else}}
					    Пристыкован: {{:data.records.supply.shuttle_loc}}
					{{/if}}
				</span>
			</div>
		</div>
		<div class="statusDisplayRecords">
            <div class="item">
                <div class="itemContent" style="width: 100%;">
                    <span class="good"><B>Утверждённые заказы</B></span><br>
                    {{if data.records.supply.approved_count == 0}}
                        <span class="average"> Нет утверждённых заказов </span><br><br>
                    {{else}}
                        {{for data.records.supply.approved}}
                            <span class="average">#{{:value.Number}} - {{:value.Name}}. Утвердивший: {{:value.OrderedBy}}<br>{{if value.Comment != ""}} {{:value.Comment}} <br>{{/if}}<br></span>
                        {{/for}}
                    {{/if}}
                    <br><br>
                    <span class="good"><B>Новые заказы</B></span><br>
                    {{if data.records.supply.requests_count == 0}}
                            <span class="average">Нет новых заказов</span><br><br>
                    {{else}}
                        {{for data.records.supply.requests}}
                            <span class="average">#{{:value.Number}} - {{:value.Name}}. Запросивший: {{:value.OrderedBy}}<br>{{if value.Comment != ""}} {{:value.Comment}} <br>{{/if}}<br></span>
                        {{/for}}
                    {{/if}}
				</div>
			</div>
		</div>


	{{else data.mode == 48}}
 		<H2>Управление ботом доставки </H2>
        {{if data.records.mulebot.active == null || data.records.mulebot.active == 0}}
            {{if data.records.mulebot.count == 0}}
                <H1><span class="bad">Нет ботов.</span></H1>
            {{else}}
                <H2>Список ботов</H2>
                <div class="item">
                    Выберите бота
                </div>
                <br>
                {{for data.records.mulebot.bots}}
                    <div class="item">
                         {{:helper.link(value.Name, 'gear', {'radiomenu' : "1", 'op' : "control",'bot' : value.ref}, null, null)}} (Местоположение: {{:value.Location}})
                    </div>
                {{/for}}
            {{/if}}
            <br>
            {{:helper.link('Найти ботов','gear', {'radiomenu' : "1", 'op' : "scanbots"}, null, null)}}
        {{else}}
            {{if data.records.mulebot.botstatus.mode == -1}}
                <H1><span class="bad">Ожидание ответа от сервера...</span></H1>
            {{else}}
                <H1><span class="average">Статус:</span></H1>
                <br>
                <div class="item">
                    <div class="itemLabel">
                        <span class="good">Местоположение:</span>
                    </div>
                    <div class="itemContent">
                        <span class="average">{{:data.records.mulebot.botstatus.loca}}</span>
                    </div>
                </div>
                <div class="item">
                    <div class="itemLabel">
                        <span class="good">Режим:</span>
                    </div>
                    <div class="itemContent">
                        <span class="average">
                            {{if data.records.mulebot.botstatus.mode ==0}}
                                Готов
                            {{else data.records.mulebot.botstatus.mode == 1}}
                                Погрузка/Разгрузка
                            {{else data.records.mulebot.botstatus.mode ==2}}
                                Перемещение в пункт назначения
                            {{else data.records.mulebot.botstatus.mode == 3}}
                                Перемещение на базу
                            {{else data.records.mulebot.botstatus.mode ==4}}
                                Преграда на пути
                            {{else data.records.mulebot.botstatus.mode ==5 || data.records.mulebot.botstatus.mode == 6}}
                                Вычисление маршрута
                            {{else data.records.mulebot.botstatus.mode ==7}}
                                Невозможно проложить маршрут
                            {{/if}}
                        </span>
                    </div>
                </div>
                <div class="item">
                    <div class="itemLabel">
                        <span class="good">Груз:</span>
                    </div>
                    <div class="itemContent">
                        <span class="average">
                            {{:helper.link(data.records.mulebot.botstatus.load == null ? 'Пусто' : data.records.mulebot.botstatus.load + ' (Выгрузить)', 'gear', {'radiomenu' : "1", 'op' : "unload"},data.records.mulebot.botstatus.load == null ? 'Отключено' : null, null)}}
                        </span>
                    </div>
                </div>
                <div class="item">
                    <div class="itemLabel">
                        <span class="good">Заряд:</span>
                    </div>
                    <div class="itemContent">
                        <span class="average">
                            {{:data.records.mulebot.botstatus.powr}}%
                        </span>
                    </div>
                </div>
                <div class="item">
                    <div class="itemLabel">
                        <span class="good">Пункт назначения:</span>
                    </div>
                    <div class="itemContent">
                        {{:helper.link(data.records.mulebot.botstatus.dest == null || data.records.mulebot.botstatus.dest == "" ? 'Установить': data.records.mulebot.botstatus.dest+ ' (Установить)', 'gear', {'radiomenu' : "1", 'op' : "setdest"}, null, null)}}
                    </div>
                </div>
                <div class="item">
                    <div class="itemLabel">
                        <span class="good">База:</span>
                    </div>
                    <div class="itemContent">
                        {{if data.records.mulebot.botstatus.home == null}} Отсутствует {{else}} {{:data.records.mulebot.botstatus.home}} {{/if}}
                    </div>
                </div>
                <div class="item">
                    <div class="itemLabel">
                        <span class="good">Возвращение на базу:</span>
                    </div>
                    <div class="itemContent">
                       {{:helper.link(data.records.mulebot.botstatus.retn == 1 ? 'ВКЛ' : 'ВЫКЛ', 'gear', {'radiomenu' : "1", 'op' : data.records.mulebot.botstatus.retn==1 ? "retoff" : "reton"}, null, null)}}
                    </div>
                </div>
                <div class="item">
                    <div class="itemLabel">
                        <span class="good">Автопогрузка:</span>
                    </div>
                    <div class="itemContent">
                        {{:helper.link(data.records.mulebot.botstatus.pick==1? 'ВКЛ' : 'ВЫКЛ', 'gear', {'radiomenu' : "1", 'op' : data.records.mulebot.botstatus.pick==1 ? "pickoff" : "pickon"}, null, null)}}
                    </div>
                </div>
                <div class="item">
                    <div class="itemLabel">
                        <span class="good">Управление:</span>
                    </div>
                    <div class="itemContent">
                        {{:helper.link('Стоп', 'gear', {'radiomenu' : "1", 'op' : "stop"}, null, null)}}
                        {{:helper.link('Продолжить', 'gear', {'radiomenu' : "1", 'op' : "go"}, null, null)}}
                        {{:helper.link('Возвращение на базу', 'gear', {'radiomenu' : "1", 'op' : "home"}, null, null)}}
                    </div>
                </div>
                <br><br>
                {{:helper.link('Вернуться в список ботов', 'gear', {'radiomenu' : "1", 'op' : "botlist"}, null, null)}}
            {{/if}}
        {{/if}}


	{{else data.mode == 49}}
        <H2>Локатор оборудования уборщика</H2>
        <div class="item">
            <span class="good">Ваше местоположение:</span>
            {{if data.records.janitor.user_loc.x == 0}}
                <span class="bad">Неизвестно</span>
            {{else}}
                <span class="average"> {{:data.records.janitor.user_loc.x}} / {{:data.records.janitor.user_loc.y}}</span>
            {{/if}}
        </div>
            <div class="item">
                {{for data.records.janitor.mops}}
                    {{if value.x==0}}
                        <span class="bad">Швабры не обнаружены</span>
                    {{else}}
                        <span class="good">Местоположение швабры:</span>
                        <span class="average">({{:value.x}} / {{:value.y}}) - {{:value.dir}} - Статус: {{:value.status}}</span><br>
                    {{/if}}
                {{/for}}
            </div>
        <div class="item">
            {{for data.records.janitor.buckets}}
                {{if value.x==0}}
                    <span class="bad">Вёдра не обнаружены</span>
                {{else}}
                    <span class="good">Местоположение вёдер:</span>
                    <span class="average">({{:value.x}} / {{:value.y}}) - {{:value.dir}} - Уровень воды: {{:value.status}}</span><br>
                {{/if}}
            {{/for}}
        </div>
        <div class="item">
            {{for data.records.janitor.cleanbots}}
                {{if value.x==0}}
                    <span class="bad">Боты уборщики не обнаружены</span>
                {{else}}
                    <span class="good">Местоположение ботов:</span>
                    <span class="average">({{:value.x}} / {{:value.y}}) - {{:value.dir}} - Статус: {{:value.status}}</span><br>
                {{/if}}
            {{/for}}
        </div>
            <div class="item">
                {{for data.records.janitor.carts}}
                    {{if value.x==0}}
                        <span class="bad">Тележка не обнаружена</span>
                    {{else}}
                        <span class="good">Местоположение тележки:</span>
                        <span class="average">({{:value.x}} / {{:value.y}}) - {{:value.dir}} - Статус: {{:value.status}}</span><br>
                    {{/if}}
                {{/for}}

    <!-- {{else data.mode == 6}}
        <H2><span class="white">InstaNews ED 2.0.9</span></H2>

        <div class="item">
            <div class="itemLabelNarrow">
                <b>Functions</b>:
            </div>
            <div class ="itemContent">
					{{:helper.link(data.news_silent==1 ? 'Ringer: Off' : 'Ringer: On', data.news_silent==1 ? 'volume-off' : 'volume-on', {'choice' : "Toggle News"}, null, 'fixedLeftWide')}}
                {{:helper.link('Set news tone', 'comment', {'choice' : "Newstone"}, null, 'fixedLeftWide')}}
            </div>
        </div>

		{{if data.reception != 1}}
			<span class="bad">No reception with newscaster network.</span>
		{{/if}}

		<div class="item">
            <div class="itemContent">
                {{for data.feedChannels}}
                    {{if value.censored}}
						{{:helper.link(value.name, 'circle-arrow-s', {'choice' : "Select Feed", 'feed' : value.feed, 'name' : value.name } , null, 'fixedLeftWiderRed')}}
                    {{else}}
                        {{:helper.link(value.name, 'circle-arrow-s', {'choice' : "Select Feed", 'feed' : value.feed, 'name' : value.name } , null, 'fixedLeftWider')}}
                    {{/if}}
                {{empty}}
                    <I>No active channels found...</I>
                {{/for}}
            </div>
		</div>

    {{else data.mode == 61}}
        <H2><span class="white">{{:data.feed.channel}}</span></H2>
        <span class="white">Created by: </span><span class="average">{{:data.feed.author}}<br></span>

		{{if data.reception != 1}}
			<span class="bad">No reception with newscaster network.</span>
		{{/if}}

        <div class="statusDisplay" style="overflow: auto;">
            <div class="item">
                <div class="itemContent" style="width: 100%;">
					{{if data.feed.censored}}
						<H3><span class="bad">Attention</span></H3>
						This channel has been deemed as threatening to the welfare of the station, and marked with a Nanotrasen D-Notice.<br>
						No further feed story additions are allowed while the D-Notice is in effect.<br>
					{{else}}
						{{for data.feed.messages}}
							-{{:value.body}}<br>
							{{if value.has_image}}
								<img src='pda_news_tmp_photo_{{:data.feed.channel}}_{{:value.index}}.png' width = '180'><br>
								{{if value.caption}}
									<span class="caption">{{:value.caption}}</span><br>
								{{/if}}
							{{/if}}
							<span class="footer">[{{:value.message_type}} by <span class="average">{{:value.author}}</span> - {{:value.time_stamp}}]</span><br>
							<br>
						{{empty}}
							<I>No feed messages found in channel...</I>
						{{/for}}
					{{/if}}
				</div>
            </div>
        </div> -->

    {{else data.mode == 7}} <!-- Finance Management -->
        <div class="item">
            <H2>Кошелёк</H2>
        </div>
        <div class="item">
            <div class="itemLabelWide">
                <b>Баланс:</b> <span class="good">{{:data.money}}$</span><br>
                <b>Зарплата:</b> <span class="good">{{:data.salary}}$</span><br>
                <b>Следующее получение:</b> <span class="average">{{:data.time_to_next_pay}}</span>
            </div>
            <div class="itemContentSmall">
                {{:helper.link('Перевод', null, {'choice' : "Transaction Menu"}, null, null)}}
                {{:helper.link('История переводов', null, {'choice' : "Transaction Log"}, null, null)}}
                {{if data.boss}} {{:helper.link('Зарплаты подчинённых', null, {'choice' : "Staff Salary"}, null, null)}} {{/if}}
            </div>
        </div>
    {{else data.mode == 71}} <!-- Show Transaction Menu -->
        <div class="item">
            <div class="statusDisplayRecords">
                <table>
                    <tr><td><span class="good">Целевой номер счёта:</span></td>
                    <td><div class="itemContent">{{:helper.link(data.target_account_number, null, {'choice' : "target_acc_number"}, null, null)}}</div></td>
                    <td><div class="itemContent">{{:helper.link('Экипаж', null, {'choice' : "Show Manifest"}, null, null)}}</div></td>
                    <td><div class="itemContent">{{:helper.link('Контактный перевод', null, {'choice' : "Look for"}, null, null)}}</div></td></tr>

                    <tr><td><span class="good">Перевести($):</span></td>
                    <td><div class="itemContent">{{:helper.link(data.funds_amount, null, {'choice' : "funds_amount"}, null, null)}}</div></td></tr>

                    <tr><td><span class="good">Комментарий:</span></td>
                    <td><div class="itemContent">{{:helper.link(data.purpose, null, {'choice' : "purpose"}, null, null)}}</div></td></tr>
                </table>
                <div class="itemContent">{{:helper.link('Перевести', 'transferthick-e-w', {'choice' : "make_transfer"}, data.ready_to_send ? null : 'Откл.', null)}}</div>
            </div>
        </div>
    {{else data.mode == 72}} <!-- Show Transaction Log -->
        <div class="item">
            <div class="statusDisplayRecords">
                <center><table class="pmon">
                    <tr><th>Date</th><th>Время</th><th>Цель</th><th>Комментарий</th><th>Перевод</th><th>Источник</th></tr>
                    {{for data.trans_log}}
                        <tr><td>{{:value.data}}</td><td>{{:value.time}}</td><td>{{:value.name}}</td><td>{{:value.purpose}}</td><td>{{:value.amount}}</td><td>{{:value.source}}</td></tr>
                    {{/for}}
                </table></center>
            </div>
        </div>
    {{else data.mode == 73}}   <!-- Change Staff Salary -->
        <div class="item">
            <div class="statusDisplayRecords">
                <center><table class="pmon">
                    <tr><th>Имя</th><th>Должность</th><th>Зарплата</th></tr>
                    {{for data.subordinate_staff}}
                        <tr><td>{{:value.name}}</td><td>{{:value.rank}}</td><td>{{:value.salary}}</td>
                        <td>{{:helper.link('Изменить', null, {'choice' : "Change Salary", 'account' : value.acc_number}, null, null)}}</td></tr>
                    {{/for}}
                </table></center>
            </div>
        </div>
    {{/if}}
{{else}}
    <div class="wholeScreen">
        <br><br><br><br><br><br><br>Войдите в Аккаунт, проведите своей картой
    </div>
{{/if}}
