
<!--
Title: PDA UI
Used In File(s): \code\game\objects\items\devices\PDA\PDA.dm
 -->

{{if data.owner}}
	<div class="item">
		<div class="itemLabelNarrow">
			 <b>Функции</b>:
        </div>
        <div class="itemContent">
			<!--{{:helper.link('Обновить', 'refresh', {'choice' : "Refresh"}, null, 'fixedLeft')}}-->
			{{:helper.link('Закрыть', 'gear', {'choice' : "Close"}, null, 'fixedLeft')}}
			{{if data.idInserted}} {{:helper.link('Обновить КПК инфо', 'eject', {'choice' : "UpdateInfo"}, null, 'fixedLeftWide')}} {{/if}}
			{{if data.mode != 0}} {{:helper.link('Назад', 'arrowreturn-1-w', {'choice' : "Return"}, null, 'fixedLeft')}} {{/if}}
		</div>
	</div>
	<br>
	<div class="item">
		<div class="itemLabelNarrow">
			<b>Станционное время</b>:
		</div>
		<div class="itemContent">
			<span class="average">{{:data.stationTime}}&emsp;[{{:data.securityLevel}}]</span>
		</div>
	</div>
    {{if data.shuttle_eta}}
        <div class="item">
            <div class="itemLabelNarrow">
                <b>До прибытия шаттла</b>:
            </div>
            <div class="itemContent">
                <span class="average">{{:data.shuttle_eta}}</span>
            </div>
        </div>
    {{/if}}
    <br>


	{{if data.mode == 0}} <!-- Main Menu -->
        <div class="item">
            <div class="itemLabelNarrow">
                Владелец:
            </div>
            <div class="itemContent">
                <span class="average">{{:data.owner}}, {{:data.ownjob}}</span>
            </div>
        </div>
        <br>
        <div class="item">
            <div class="itemLabelNarrow">
                ID:
            </div>
            <div class="itemContent">
                {{:helper.link(data.idLink, 'eject', {'choice' : "Authenticate"}, data.idInserted ? null : 'disabled', data.idInserted ? 'floatright' : 'fixedLeft')}}
            </div>
        </div>
        <br>
        <div class="item">
            <div class="itemLabelNarrow">
                    <b>Картридж</b>:
            </div>
            <div class="itemContent">
                {{if data.cart_loaded==1}}
                    {{:helper.link(data.cartridge.name, 'eject', {'choice' : "Eject"},null,null)}}
                {{else}}
                    {{:helper.link('Отсутствует', 'eject', {'choice' : "Eject"},'disabled',null)}}
                {{/if}}
            </div>
        </div>
        <div class="item">
            <H2>Функции</H2>
        </div>
        <div class="item">
            <div class="itemLabelNarrow">
                <b>Общие</b>:
            </div>
            <div class="itemContent">
                {{:helper.link('Блокнот', 'note', {'choice' : "1"}, null, 'fixedLeftWide')}}
                {{:helper.link('Мессенджер', data.new_Message ? 'mail-closed' : 'mail-open', {'choice' : "2"}, null, 'fixedLeftWide')}}
                {{:helper.link('Список членов экипажа', 'contact', {'choice' : "41"}, null, 'fixedLeftWide')}}
				<!-- {{:helper.link('News', data.new_News ? 'mail-closed' : 'mail-open', {'choice' : "6"}, null, 'fixedLeftWide')}} -->
				{{:helper.link('Управление финансами', 'suitcase', {'choice' : "Finance"}, null, 'fixedLeftWide')}}
            </div>
        </div>
        <br>
        {{if data.cartridge}}
            {{if data.cartridge.access.access_clown == 1}}
                <div class="item">
                    <div class="itemLabelNarrow">
                        <b>Клоун</b>:
                    </div>
                    <div class="itemContent">
                        {{:helper.link('Синтезатор гудка', 'gear', {'choice' : "Honk"}, null, 'fixedLeftWide')}}
                    </div>
                </div>
                <br>
            {{/if}}
            {{if data.cartridge.access.access_engine == 1}}
                <div class="item">
                    <div class="itemLabelNarrow">
                        <b>Инженерия</b>:
                    </div>
                    <div class="itemContent">
                        {{:helper.link('Монитор электроэнергии', 'alert', {'choice' : "43"}, null, 'fixedLeftWide')}}
                    </div>
                </div>
                 <br>
            {{/if}}
            {{if data.cartridge.access.access_medical == 1}}
                <div class="item">
                    <div class="itemLabelNarrow">
                            <b>Медицина</b>:
                    </div>
                    <div class="itemContent">
                            {{:helper.link('Медицинские документы', 'gear', {'choice' : "44"}, null, 'fixedLeftWide')}}
                            {{:helper.link(data.scanmode == 1 ? 'Отключить медсканер' : 'Включить медсканер', 'gear', {'choice' : "Medical Scan"}, null , 'fixedLeftWide')}}
                    </div>
                </div>
                <br>
            {{/if}}
            {{if data.cartridge.access.access_security == 1}}
                <div class="item">
                    <div class="itemLabelNarrow">
                            <b>Служба безопасности</b>:
                    </div>
                    <div class="itemContent">
                        {{:helper.link('Записи охраны', 'gear', {'choice' : "45"}, null, 'fixedLeftWide')}}
                        {{if data.cartridge.radio ==1}} {{:helper.link('Управление охранными ботами', 'gear', {'choice' : "46"}, null, 'fixedLeftWide')}} {{/if}}
                        <br>
                    </div>
                </div>
                <br>
            {{/if}}
            {{if data.cartridge.access.access_quartermaster == 1}}
                <div class="item">
                    <div class="itemLabelNarrow">
                        <b>Завхоз</b>:
                    </div>
                    <div class="itemContent">
                        {{:helper.link('Список заказов', 'gear', {'choice' : "47"}, null, 'fixedLeftWide')}}
                        {{if data.cartridge.radio == 3}} {{:helper.link('Управление ботами доставки', 'gear', {'choice' : "48"}, null, 'fixedLeftWide')}} {{/if}}
                         <br>
                    </div>
                </div>
                <br>
            {{/if}}
        {{/if}}
        <br>
        <div class="item">
            <div class = "itemLabelNarrow">
                <b>Полезное</b>:
            </div>
            <div class = "itemContent">
                {{if data.cartridge}}
                    {{if data.cartridge.access.access_status_display == 1}}
                        {{:helper.link('Дисплей состояния', 'gear', {'choice' : "42"}, null, 'fixedLeftWide')}}
                    {{/if}}
                    {{if data.cartridge.access.access_janitor==1}}
                        {{:helper.link('Локатор уборщика', 'gear', {'choice' : "49"}, null, 'fixedLeftWide')}}
                    {{/if}}
                    {{if data.cartridge.radio == 2}}
                        {{:helper.link('Радиосигнальный модуль', 'gear', {'choice' : "40"}, null, 'fixedLeftWide')}}
                    {{/if}}
                    {{if data.cartridge.access.access_reagent_scanner==1}}
                        {{:helper.link(data.scanmode == 3 ? 'Выключить сканер реагентов' : 'Включить сканер реагентов', 'gear', {'choice' : "Reagent Scan"}, null, 'fixedLeftWider')}}
                    {{/if}}
                    {{if data.cartridge.access.access_engine==1}}
                        {{:helper.link(data.scanmode == 4 ? 'Выключить галогеновый счетчик' : 'Включить галогеновый счетчик', 'gear', {'choice' : "Halogen Counter"}, null, 'fixedLeftWider')}}
                    {{/if}}
                    {{if data.cartridge.access.access_atmos==1}}
                        {{:helper.link(data.scanmode == 5 ? 'Выключить сканер газов' : 'Включить сканер газов', 'gear', {'choice' : "Gas Scan"}, null, 'fixedLeftWide')}}
                    {{/if}}
                    {{if data.cartridge.access.access_remote_door==1}}
                        {{:helper.link('Открыть дверь', 'gear', {'choice' : "Toggle Door"}, null, 'fixedLeftWide')}}
                    {{/if}}
                {{/if}}
                {{:helper.link('Сканирование атмосферы', 'gear', {'choice' : "3"}, null, 'fixedLeftWide')}}
                {{:helper.link(data.fon==1 ? 'Выключить фонарик' : 'Включить фонарик', 'lightbulb', {'choice' : "Light"}, null,'fixedLeftWide')}}
            </div>
        </div>
        {{if data.pai}}
            <div class="item">
                <div class = "itemLabelNarrow">
                    <b>Утилиты кИИ</b>:
                </div>
                <div class = "itemContent">
                    {{:helper.link('Конфигурация', 'gear', {'choice' : "pai", 'option' : "1"}, null, 'fixedLeft')}}
                    {{:helper.link('Вытащить кИИ', 'eject', {'choice' : "pai", 'option' : "2"}, null, 'fixedLeft')}}
                </div>
            </div>
        {{/if}}


	{{else data.mode == 1}} <!-- Notekeeper -->
        <div class="item">
            <div class="itemLabel">
                <b>Заметки</b>:
            </div>
        </div>
        <div class="statusDisplayRecords">
            <div class="item">
                <div class="itemContent" style="width: 100%;">
                        <span class="average">{{:data.note}}</span>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="itemLabel">
                {{:helper.link('Редактировать', 'gear', {'choice' : "Edit"}, null, 'fixedLeft')}}
            </div>
        </div>


    {{else data.mode == 2}} <!-- Messenger -->
        <H2>КосмоМессенджер V4.0.1</H2>
        <div class="item">
            <div class="itemLabelNarrow">
                <b>Функции мессенджера</b>:
            </div>
            <div class ="itemContent">
                {{:helper.link(data.message_silent==1 ? 'Звонок: Выкл.' : 'Звонок: Вкл.', data.message_silent==1 ? 'volume-off' : 'volume-on', {'choice' : "Toggle Ringer"}, null, 'fixedLeftWide')}}
                {{:helper.link(data.toff==1 ? 'Мессенджер: Выкл.' : 'Мессенджер: Вкл.',data.toff==1 ? 'close':'check', {'choice' : "Toggle Messenger"}, null, 'fixedLeftWide')}}
                {{:helper.link('Установить рингтон', 'comment', {'choice' : "Ringtone"}, null, 'fixedLeftWide')}}
                {{:helper.link('Удалить все сообщения', 'trash', {'choice' : "Clear", 'option' : "All"}, null, 'fixedLeftWider')}}
            </div>
        </div>
        {{if data.toff == 0}}
            <br><br>
            {{if data.cartridge}}
                {{if data.cartridge.charges}}
                    <div class="item">
                        <b>{{:data.cartridge.charges}}
                        {{if data.cartridge.access.access_detonate_pda}} взрывных зарядов осталось. {{/if}}
                        {{if data.cartridge.access.access_clown || data.cartridge.access.access_mime}} вирусных файлов осталось. {{/if}}
                        </b>
                        <br><br>
                    </div>
                {{/if}}
            {{/if}}

            {{if data.pda_count == 0}}
                <b>Другие КПК не обнаружены</b>
            {{else}}
                <H3>Текущие переписки</H3>
                {{for data.convopdas}}
                    <div class="item">
                        {{:helper.link(value.Name, 'circle-arrow-s', {'choice' : "Select Conversation", 'convo' : value.Reference } , null, value.fixedLeftWider)}}
                        {{if data.cartridge}}
                            {{if data.cartridge.access.access_detonate_pda && value.Detonate}}
                                {{:helper.link('*Взорвать*', 'radiation', {'choice' : "Detonate", 'target' : value.Reference}, null, 'fixedLeft')}}
                            {{/if}}
                            {{if data.cartridge.access.access_clown}}
                                {{:helper.link('*Отправить вирус*', 'star', {'choice' : "Send Honk", 'target' : value.Reference}, null, 'fixedLeft')}}
                            {{/if}}
                            {{if data.cartridge.access.access_mime}}
                                {{:helper.link('*Отправить вирус*', 'circle-arrow-s', {'choice' : "Send Silence", 'target' : value.Reference}, null, 'fixedLeft')}}
                            {{/if}}
                        {{/if}}
                    </div>
                {{/for}}
                <H3>Другие КПК</H3>
                {{for data.pdas}}
                    <div class="item">
                        {{:helper.link(value.Name, 'circle-arrow-s', {'choice' : "Message", 'target' : value.Reference}, null, value.fixedLeftWider)}}
                        {{if data.cartridge}}
                            {{if data.cartridge.access.access_detonate_pda && value.Detonate}} {{:helper.link('*Взорвать*', 'radiation', {'choice' : "Detonate", 'target' : value.Reference}, null, 'fixedLeft')}}  {{/if}}
                            {{if data.cartridge.access.access_clown}} {{:helper.link('*Отправить вирус*', 'star', {'choice' : "Send Honk", 'target' : value.Reference}, null, 'fixedLeft')}}  {{/if}}
                            {{if data.cartridge.access.access_mime}}  {{:helper.link('*Отправить вирус*', 'circle-arrow-s', {'choice' : "Send Silence", 'target' : value.Reference}, null, 'fixedLeft')}}  {{/if}}
                        {{/if}}
                    </div>
                {{/for}}
            {{/if}}
        {{/if}}


	{{else data.mode == 21}} <!-- Messenger -->
	    <H2>КосмоМессенджер V4.0.1</H2>
        <div class="item">
            <div class="itemLabel">
                <b>Функции мессенджера</b>:
            </div>
            <div class ="itemContent">
                {{:helper.link('Удалить диалог', 'trash', {'choice' : "Clear", 'option' : "Convo"}, null, 'fixedLeftWide')}}
            </div>
        </div>
        <br>
        <br>
        <H3>Conversation with:&nbsp;<span class="average">{{:data.convo_name}}&nbsp;({{:data.convo_job}})</span></H3>
        <div class="statusDisplay" style="overflow: auto;">
            <div class="item">
                <div class="itemContent" style="width: 100%;">
                    {{for data.messages}}
                        {{if data.active_conversation == value.target}}
                            {{if value.sent==0}}
                                <span class="average"><B>{{:data.convo_name}}</B>: {{:value.message}}</span><br>
                            {{else}}
                                <span class="good"><B>Вы</B>: {{:value.message}}</span><br>
                            {{/if}}
                        {{/if}}
                    {{/for}}
                </div>
            </div>
        </div>
        {{:helper.link('Ответить', 'comment', {'choice' : "Message", 'target': data.active_conversation}, null, 'fixedLeft')}}


	{{else data.mode== 41}} <!-- Manifest uses cached data so we only use nanowriter when shit changes.-->
	    <div class="item">
            <center><table class="pmon"><tbody>
                {{if data.cached.heads.length}}
                    <tr><th colspan="4" class="command">Командование</th></tr>
                    {{for data.cached["heads"]}}
                        {{if value.rank == "Captain"}}
							<tr><td>{{:helper.link('Отправить деньги', null, {'choice' : "Send Money", 'account' : value.account}, null, null)}}{{:helper.link('DM', null, {'choice' : "DM", 'reciever' : value.name}, null, null)}}</td>
                            <td><span class="good">{{:value.name}}</span></td><td><span class="good">{{:value.rank}}</span></td><td><span class="good">{{:value.active}}</span></td></tr>
                        {{else}}
							<tr><td>{{:helper.link('Отправить деньги', null, {'choice' : "Send Money", 'account' : value.account}, null, null)}}{{:helper.link('DM', null, {'choice' : "DM", 'reciever' : value.name}, null, null)}}</td>
                            <td><span class="average">{{:value.name}}</span></td><td><span class="average">{{:value.rank}}</span></td><td><span class="average">{{:value.active}}</span></td></tr>
                        {{/if}}
                    {{/for}}
                {{/if}}
                {{if data.cached.sec.length}}
                    <tr><th colspan="4" class="sec">Служба безопасности</th></tr>
                    {{for data.cached["sec"]}}
                        {{if value.rank == "Head of Security"}}
							<tr><td>{{:helper.link('Отправить деньги', null, {'choice' : "Send Money", 'account' : value.account}, null, null)}}{{:helper.link('DM', null, {'choice' : "DM", 'reciever' : value.name}, null, null)}}</td>
                            <td><span class="good">{{:value.name}}</span></td><td><span class="good">{{:value.rank}}</span></td><td><span class="good">{{:value.active}}</span></td></tr>
                        {{else}}
							<tr><td>{{:helper.link('Отправить деньги', null, {'choice' : "Send Money", 'account' : value.account}, null, null)}}{{:helper.link('DM', null, {'choice' : "DM", 'reciever' : value.name}, null, null)}}</td>
                            <td><span class="average">{{:value.name}}</span></td><td><span class="average">{{:value.rank}}</span></td><td><span class="average">{{:value.active}}</span></td></tr>
                        {{/if}}
                    {{/for}}
                {{/if}}
                {{if data.cached.eng.length}}
                    <tr><th colspan="4" class="eng">Инженерия</th></tr>
                    {{for data.cached["eng"]}}
                        {{if value.rank == "Chief Engineer"}}
                            <tr><td>{{:helper.link('Отправить деньги', null, {'choice' : "Send Money", 'account' : value.account}, null, null)}}{{:helper.link('DM', null, {'choice' : "DM", 'reciever' : value.name}, null, null)}}</td>
                            <td><span class="good">{{:value.name}}</span></td><td><span class="good">{{:value.rank}}</span></td><td><span class="good">{{:value.active}}</span></td></tr>
                        {{else}}
                            <tr><td>{{:helper.link('Отправить деньги', null, {'choice' : "Send Money", 'account' : value.account}, null, null)}}{{:helper.link('DM', null, {'choice' : "DM", 'reciever' : value.name}, null, null)}}</td>
                            <td><span class="average">{{:value.name}}</span></td><td><span class="average">{{:value.rank}}</span></td><td><span class="average">{{:value.active}}</span></td></tr>
                        {{/if}}
                    {{/for}}
                {{/if}}
                {{if data.cached.med.length}}
                    <tr><th colspan="4" class="med">Медицина</th></tr>
                    {{for data.cached["med"]}}
                        {{if value.rank == "Chief Medical Officer"}}
                            <tr><td>{{:helper.link('Отправить деньги', null, {'choice' : "Send Money", 'account' : value.account}, null, null)}}{{:helper.link('DM', null, {'choice' : "DM", 'reciever' : value.name}, null, null)}}</td>
                            <td><span class="good">{{:value.name}}</span></td><td><span class="good">{{:value.rank}}</span></td><td><span class="good">{{:value.active}}</span></td></tr>
                        {{else}}
                            <tr><td>{{:helper.link('Отправить деньги', null, {'choice' : "Send Money", 'account' : value.account}, null, null)}}{{:helper.link('DM', null, {'choice' : "DM", 'reciever' : value.name}, null, null)}}</td>
                            <td><span class="average">{{:value.name}}</span></td><td><span class="average">{{:value.rank}}</span></td><td><span class="average">{{:value.active}}</span></td></tr>
                        {{/if}}
                    {{/for}}
                {{/if}}
                {{if data.cached.sci.length}}
                    <tr><th colspan="4" class="sci">Наука</th></tr>
                    {{for data.cached["sci"]}}
                        {{if value.rank == "Research Director"}}
                            <tr><td>{{:helper.link('Отправить деньги', null, {'choice' : "Send Money", 'account' : value.account}, null, null)}}{{:helper.link('DM', null, {'choice' : "DM", 'reciever' : value.name}, null, null)}}</td>
                            <td><span class="good">{{:value.name}}</span></td><td><span class="good">{{:value.rank}}</span></td><td><span class="good">{{:value.active}}</span></td></tr>
                        {{else}}
                            <tr><td>{{:helper.link('Отправить деньги', null, {'choice' : "Send Money", 'account' : value.account}, null, null)}}{{:helper.link('DM', null, {'choice' : "DM", 'reciever' : value.name}, null, null)}}</td>
                            <td><span class="average">{{:value.name}}</span></td><td><span class="average">{{:value.rank}}</span></td><td><span class="average">{{:value.active}}</span></td></tr>
                        {{/if}}
                    {{/for}}
                {{/if}}
                {{if data.cached.civ.length}}
                    <tr><th colspan="4" class="civ">Гражданские</th></tr>
                    {{for data.cached["civ"]}}
                        {{if value.rank == "Head of Personnel"}}
                            <tr><td>{{:helper.link('Отправить деньги', null, {'choice' : "Send Money", 'account' : value.account}, null, null)}}{{:helper.link('DM', null, {'choice' : "DM", 'reciever' : value.name}, null, null)}}</td>
                            <td><span class="good">{{:value.name}}</span></td><td><span class="good">{{:value.rank}}</span></td><td><span class="good">{{:value.active}}</span></td></tr>
                        {{else}}
                            <tr><td>{{:helper.link('Отправить деньги', null, {'choice' : "Send Money", 'account' : value.account}, null, null)}}{{:helper.link('DM', null, {'choice' : "DM", 'reciever' : value.name}, null, null)}}</td>
                            <td><span class="average">{{:value.name}}</span></td><td><span class="average">{{:value.rank}}</span></td><td><span class="average">{{:value.active}}</span></td></tr>
                        {{/if}}
                    {{/for}}
                {{/if}}
                {{if data.cached.misc.length}}
                    <tr><th colspan="4" class="misc">Прочие</th></tr>
                    {{for data.cached["misc"]}}
                        <tr><td>{{:helper.link('Отправить деньги', null, {'choice' : "Send Money", 'account' : value.account}, null, null)}}{{:helper.link('DM', null, {'choice' : "DM", 'reciever' : value.name}, null, null)}}</td>
                        <td><span class="average">{{:value.name}}</span></td><td><span class="average">{{:value.rank}}</span></td><td><span class="average">{{:value.active}}</span></td></tr>
                    {{/for}}
                {{/if}}
            </tbody></table></center>
        </div>


	{{else data.mode == 3}}
        <H2>Сканирование атмосферы</H2>
        <div class="statusDisplay" style="height: 250px; overflow: auto;">
            <div class="item">
                {{if data.aircontents.reading == 1}}
                    <div class="itemLabel">
                        Давление:
                    </div>
                    <div class = "itemContent">
				        {{:helper.string('<span class="{0}">{1} кПа</span>', data.aircontents.pressure < 80 || data.aircontents.pressure > 120 ? 'bad' : data.aircontents.pressure < 95 || data.aircontents.pressure > 110 ? 'average' : 'good' , data.aircontents.pressure)}}
                    </div>
                    <div class="itemLabel">
                        Температура:
                    </div>
                    <div class = "itemContent">
				        {{:helper.string('<span class="{0}">{1} &deg;C</span>', data.aircontents.temp < 5 || data.aircontents.temp > 35 ? 'bad' : data.aircontents.temp < 15 || data.aircontents.temp > 25 ? 'average' : 'good' , data.aircontents.temp)}}
                    </div>
                    <br>
                    <div class="itemLabel">
                        Кислород:
                    </div>
                    <div class = "itemContent">
                        {{:helper.string('<span class="{0}">{1}%</span>', data.aircontents.oxygen < 17 ? 'bad' : data.aircontents.oxygen < 19 ? 'average' : 'good' , data.aircontents.oxygen)}}
                    </div>
                    <div class="itemLabel">
                        Азот:
                    </div>
                    <div class = "itemContent">
                        {{:helper.string('<span class="{0}">{1}%</span>', data.aircontents.nitrogen > 82 ? 'bad' : data.aircontents.nitrogen > 80 ? 'average' : 'good' , data.aircontents.nitrogen)}}
                    </div>
                    <div class="itemLabel">
                        Диоксид углерода:
                    </div>
                    <div class = "itemContent">
                        {{:helper.string('<span class="{0}">{1}%</span>', data.aircontents.carbon_dioxide > 5 ? 'bad' : 'good' , data.aircontents.carbon_dioxide)}}
                    </div>
                    <div class="itemLabel">
                        Форон:
                    </div>
                    <div class = "itemContent">
                        {{:helper.string('<span class="{0}">{1}%</span>', data.aircontents.phoron  > 0 ? 'bad' : 'good' , data.aircontents.phoron)}}

                    </div>
                    {{if data.aircontents.other > 0}}
                        <div class="itemLabel">
                            Неизвестные:
                        </div>
                        <div class = "itemContent">
                            <span class="bad">{{:data.aircontents.other}}%</span>
                        </div>
                    {{/if}}
                {{else}}
                    <div class="itemContent" style="width: 100%;">
                        <span class="average"><b>Невозможно получить данные воздуха</b></span>
                    </div>
                {{/if}}
            </div>
        </div>


	{{else data.mode == 40}} <!-- Cartridge: Signaler -->
        <H2>Система дистанционных радиосигналов</H2>
        <div class="item">
            <div class="itemLabel">
                <b>Частота</b>:
            </div>
            <div class="itemContent">
                {{:data.records.signal_freq}}
                <br>
                &nbsp;
                {{:helper.link('-1', null, {'cartmenu' : "1", 'choice' : "Signal Frequency", 'sfreq' : "-10"}, null, null)}}&nbsp;
                {{:helper.link('-.2', null, {'cartmenu' : "1", 'choice' : "Signal Frequency", 'sfreq' : "-2"}, null, null)}}&nbsp;

                {{:helper.link('+.2', null, {'cartmenu' : "1", 'choice' : "Signal Frequency", 'sfreq' : "2"}, null, null)}}&nbsp;
                {{:helper.link('+1', null, {'cartmenu' : "1", 'choice' : "Signal Frequency", 'sfreq' : "10"}, null, null)}}
            </div>
        </div>
        <br>
        <br>
        <div class="item">
            <div class="itemLabel">
                    <b>Код</b>:
            </div>
            <div class="itemContent">
                <span class="average">
                    {{:data.records.signal_code}}<br>
                </span>
                {{:helper.link('-5', null, {'cartmenu' : "1", 'choice' : "Signal Code", 'scode' : "-5"}, null, null)}}
                {{:helper.link('-1', null, {'cartmenu' : "1", 'choice' : "Signal Code", 'scode' : "-1"}, null, null)}}
                {{:helper.link('+1', null, {'cartmenu' : "1", 'choice' : "Signal Code", 'scode' : "1"}, null, null)}}
                {{:helper.link('+5', null, {'cartmenu' : "1", 'choice' : "Signal Code", 'scode' : "5"}, null, null)}}
            </div>
        </div>
        <div class="item">
            {{:helper.link('Подать сигнал', 'radiation', {'cartmenu' : "1", 'choice' : "Send Signal"}, null, null)}}
        </div>


    {{else data.mode == 42}}
        <H2>Управление дисплеем состояния станции</H2>
        <div class="item">
            <div class="itemLabel">
                <b>Код</b>:
            </div>
            <div class="itemContent">
                {{:helper.link('Очистить', 'trash', {'cartmenu' : "1", 'choice' : "Status", 'statdisp' : "blank"}, null, null)}}
                {{:helper.link('Прибытие шаттла', 'gear', {'cartmenu' : "1", 'choice' : "Status",'statdisp' : "shuttle"}, null, null)}}
                {{:helper.link('Сообщения', 'gear', {'cartmenu' : "1", 'choice' : "Status",'statdisp' : "message"}, null, null)}}
            </div>
        </div>
        <br>
        <div class="item">
            <div class="itemLabel">
                <b>Строка сообщения 1</b>
            </div>
            <div class="itemContent">
                {{:helper.link(data.records.message1 + ' (задать)', 'pencil', {'cartmenu' : "1", 'choice' : "Status",'statdisp' : "setmsg1"}, null, null)}}
            </div>
        </div>
        <div class="item">
            <div class="itemLabel">
                <b>Строка сообщения 2</b>
            </div>
            <div class="itemContent">
                {{:helper.link(data.records.message2 + ' (задать)', 'pencil', {'cartmenu' : "1", 'choice' : "Status",'statdisp' : "setmsg2"}, null, null)}}
            </div>
        </div>

        <br>
        <div class="item">
            <div class="itemLabel">
                <b> ТРЕВОГА!</b>:
            </div>
            <div class="itemContent">
                {{:helper.link('По умолчанию', 'gear', {'cartmenu' : "1", 'choice' : "Status",'statdisp' : "default"}, null, null)}}
                {{:helper.link('Красная тревога', 'alert', {'cartmenu' : "1", 'choice' : "Status",'statdisp' : "alert", 'alert' : "redalert"}, null, null)}}
                {{:helper.link('Локдаун', 'caution', {'cartmenu' : "1", 'choice' : "Status",'statdisp' : "alert", 'alert' : "lockdown"}, null, null)}}
                {{:helper.link('Биологическая угроза', 'radiation', {'cartmenu' : "1", 'choice' : "Status",'statdisp' : "alert", 'alert' : "biohazard"}, null, null)}}
            </div>
        </div>

    {{else data.mode == 43}}
        <H2>Выбор контроллера</H2>
        <div class="item">
            Доступные контроллеры:
        </div>
        {{for data.records.powermonitors}}
            <div class="item">
                {{:helper.link(value.Name, 'plus', {'cartmenu' : "1", 'choice' : "Power Select",'target' : value.ref})}}<br>
            </div>
        {{/for}}


    {{else data.mode == 433}}
        <H2>Показания датчиков (упрощенный вид)</H2>
		{{if data.records.powermonitor_detected}}
			<table><tr><th>Зона<th>Оснащ.<th>Освещ.<th>Окруж.<th>Батарея %<th>Потребление W
			{{for data.records.apcs}}
				<tr><td>{{:value.Name}}
				<td>{{:value.Equipment}}
				<td>{{:value.Lights}}
				<td>{{:value.Environment}}
				<td>{{:value.CellStatus}}
				<td>{{:value.Load}}
			{{empty}}
				<tr><td>КЭЗы не найдены!
			{{/for}}
			</table>
			<br><b>Доступно: {{:data.records.poweravail}}</b>
			<br><b>Общее потребление: {{:data.records.powerload}}</b>
		{{else}}
			Невозможно связаться с контроллером! Пожалуйста, повторите попытку или свяжитесь с технической поддержкой.
		{{/if}}

	{{else data.mode == 44}}
	    <H2>Список медицинских карт</H2>
        <div class="item">
	        Выберите карту
	    </div>
	    <br>
		{{for data.records.medical_records}}
            <div class="item">
                 {{:helper.link(value.Name, 'gear', {'cartmenu' : "1", 'choice' : "Medical Records",'target' : value.ref}, null, null)}}
            </div>
		{{/for}}


	{{else data.mode == 441}}
        <H2>Медицинская карта</H2>
        <div class="statusDisplayRecords">
            <div class="item">
                <div class="itemContent" style="width: 100%;">
                    {{if data.records.general_exists == 1}}
                        <span class="good">Имя:		</span> <span class="average">{{:data.records.general.name}}	</span><br>
                        <span class="good">Пол:			</span> <span class="average">{{:data.records.general.sex}}		</span><br>
                        <span class="good">Вид:		</span> <span class="average">{{:data.records.general.species}}	</span><br>
                        <span class="good">Возраст:			</span> <span class="average">{{:data.records.general.age}}		</span><br>
                        <span class="good">Должность:		</span> <span class="average">{{:data.records.general.rank}}	</span><br>
                        <span class="good">Отпечатки:		</span> <span class="average">{{:data.records.general.fingerprint}}	</span><br>
                        <span class="good">Физическое состояние:	</span> <span class="average">{{:data.records.general.p_stat}}	</span><br>
                        <span class="good">Психологическое состояние:	</span> <span class="average">{{:data.records.general.m_stat}}	</span><br><br>
                    {{else}}
                        <span class="bad">
                            Медицинская карта утеряна!<br><br>
                        </span>
                    {{/if}}
                    {{if data.records.medical_exists == 1}}
                        Медицинская информация:<br>
                        <span class="good">Группа крови:		</span> <span class="average">{{:data.records.medical.b_type}}	</span><br><br>
                        <span class="good">Незначительные отклонения:	</span> <span class="average">{{:data.records.medical.mi_dis}}	</span><br>
                        <span class="good">Детали:		</span> <span class="average">{{:data.records.medical.mi_dis_d}}	</span><br><br>
                        <span class="good">Значительные отклонения:	</span> <span class="average">{{:data.records.medical.ma_dis}}	</span><br>
                        <span class="good">Детали:		</span> <span class="average">{{:data.records.medical.ma_dis_d}}	</span><br><br>
                        <span class="good">Аллергии:		</span> <span class="average">{{:data.records.medical.alg}}		</span><br>
                        <span class="good">Детали:		</span> <span class="average">{{:data.records.medical.alg_d}}	</span><br><br>
                        <span class="good">Текущее заболевание:	</span> <span class="average">{{:data.records.medical.cdi}}		</span><br>
                        <span class="good">Детали:		</span> <span class="average">{{:data.records.medical.alg_d}}	</span><br><br>
                        <span class="good">Важные примечания:	</span> <span class="average">{{:data.records.medical.notes}}	</span>
                    {{else}}
                        <span class="bad">
                            Медицинская информация утеряна!
                            <br>
                            <br>
                        </span>
                    {{/if}}
                </div>
            </div>
        </div>


 	{{else data.mode == 45}}
        <H2>Журнал записей охраны</H2>
        <div class="item">
            Выберите запись
        </div>
        <br>
        {{for data.records.security_records}}
            <div class="item">
                 {{:helper.link(value.Name, 'gear', {'cartmenu' : "1", 'choice' : "Security Records",'target' : value.ref}, null, null)}}
            </div>
        {{/for}}


    {{else data.mode == 451}}
        <H2>Запись охраны</H2>
        <div class="statusDisplayRecords">
            <div class="item">
                <div class="itemContent" style="width: 100%;">
                    {{if data.records.general_exists == 1}}
                        <span class="good">Имя: </span> <span class="average"> {{:data.records.general.name}}</span><br>
                        <span class="good">Пол: </span>  <span class="average">{{:data.records.general.sex}} </span><br>
                        <span class="good">Вид: </span> <span class="average">{{:data.records.general.species}} </span><br>
                        <span class="good">Возраст: </span>  <span class="average">{{:data.records.general.age}} </span><br>
                        <span class="good">Система проживания:  </span> <span class="average">{{:data.records.general.home_system}} </span><br>
                        <span class="good">Гражданство:  </span> <span class="average">{{:data.records.general.citizenship}} </span><br>
                        <span class="good">Фракция:  </span> <span class="average">{{:data.records.general.faction}} </span><br>
                        <span class="good">Вероисповедание:  </span> <span class="average">{{:data.records.general.religion}} </span><br>
                        <span class="good">Должность: </span>  <span class="average">{{:data.records.general.rank}} </span><br>
                        <span class="good">Отпечатки:  </span> <span class="average">{{:data.records.general.fingerprint}} </span><br>
                        <span class="good">Физическое состояние:  </span> <span class="average">{{:data.records.general.p_stat}} </span><br>
                        <span class="good">Психологическое состояние:  </span> <span class="average">{{:data.records.general.m_stat}} </span><br><br>
                    {{else}}
                        <span class="bad">
                            Запись охраны утеряна!<br><br>
                        </span>
                    {{/if}}
                    {{if data.records.security_exists == 1}}
                        Сведения о правонарушениях:<br>
                        <span class="good">Криминальный статус:  </span><span class="average">{{:data.records.security.criminal}} </span><br><br>
                        <span class="good">Мелкие преступления:  </span><span class="average">{{:data.records.security.mi_crim}} </span><br>
                        <span class="good">Детали:  </span><span class="average">{{:data.records.security.mi_crim_d}} </span><br><br>
                        <span class="good">Тяжкие преступления:  </span><span class="average">{{:data.records.security.ma_crim}} </span><br>
                        <span class="good">Детали:  </span><span class="average">{{:data.records.security.ma_crim_d}} </span><br><br>
                        <span class="good">Важные примечания:   </span><span class="average">{{:data.records.security.notes}} </span>
                    {{else}}
                        <span class="bad">
                            Сведения о правонарушениях утеряны!<br><br>
                        </span>
                    {{/if}}
                </div>
            </div>
        </div>


	{{else data.mode == 46}}
	    <H2>Управление охранными ботами</H2>
		{{if data.records.beepsky.active == null || data.records.beepsky.active == 0}}
			{{if data.records.beepsky.count == 0}}
				<H1><span class="bad">Боты не найдены.</span></H1>
			{{else}}
                <div class="item">
			        Выберите бота.
                </div>
                <br>
                {{for data.records.beepsky.bots}}
			        <div class="item">
                         {{:helper.link(value.Name, 'gear', {'radiomenu' : "1", 'op' : "control",'bot' : value.ref}, null, null)}} (Location: {{:value.Location}})
			        </div>
                {{/for}}
			{{/if}}
			<br>
            {{:helper.link('Сканировать на наличие ботов','gear', {'radiomenu' : "1", 'op' : "scanbots"}, null, null)}}
		{{else}}
			<H1><span class="average">{{:data.records.beepsky.active}}</span></H1>
			<br><br>
			{{if data.records.beepsky.botstatus.mode == -1}}
                <H1><span class="bad">Ожидание ответа...</span></H1>
			{{else}}
                <H1><span class="good">Статус:</span></H1>
                <br>
                <div class = "item">
                    <div class="itemLabel">
                        <span class="good">Местоположение:</span>
                    </div>
                    <div class="itemContent">
                        <span class="average">{{:data.records.beepsky.botstatus.loca}}</span>
                    </div>
                </div>
                <div class = "item">
                    <div class="itemLabel">
                        <span class="good">Режим:</span>
                    </div>
                    <div class="itemContent">
                        <span class="average">
                            {{if data.records.beepsky.botstatus.mode ==0}}
                                Готов
                            {{else data.records.beepsky.botstatus.mode == 1}}
                                Захват цели
                            {{else data.records.beepsky.botstatus.mode ==2 || data.records.beepsky.botstatus.mode == 3}}
                                Арест цели
                            {{else data.records.beepsky.botstatus.mode ==4}}
                                Начало патрулирования
                            {{else data.records.beepsky.botstatus.mode ==5}}
                                На патрулировании
                            {{else data.records.beepsky.botstatus.mode ==6}}
                                Зачитывание приговора
                            {{/if}}
                        </span>
                    </div>
                </div>
                <div class="item">
                    {{:helper.link('Остановить патрулирование', 'gear', {'radiomenu' : "1", 'op' : "stop"}, null, null)}}
                    {{:helper.link('Начать патрулирование', 'gear', {'radiomenu' : "1", 'op' : "go"}, null, null)}}
                    {{:helper.link('Вызвать бота', 'gear', {'radiomenu' : "1", 'op' : "summon"}, null, null)}}
                </div>
			{{/if}}
			{{:helper.link('Назад к списку ботов', 'gear', {'radiomenu' : "1", 'op' : "botlist"}, null, null)}}
		{{/if}}


	{{else data.mode == 47}}
		<H1><span class="average">Управление поставками</span></H1>
		<div class="item">
			<div class="itemLabelNarrow">
				<span class="good">Местоположение:</span>
			</div>
			<div class="itemContent">
				<span class="average">
					{{if data.records.supply.shuttle_moving}}
					    Направляется на станцию ({{:data.records.supply.shuttle_eta}})
					{{else}}
					    {{:data.records.supply.shuttle_loc}}
					{{/if}}
				</span>
			</div>
		</div>
		<div class="statusDisplayRecords">
            <div class="item">
                <div class="itemContent" style="width: 100%;">
                    <span class="good"><B>Текущие одобренные заказы</B></span><br>
                    {{if data.records.supply.approved_count == 0}}
                        <span class="average">Нет одобренных заказов</span><br><br>
                    {{else}}
                        {{for data.records.supply.approved}}
                            <span class="average">#{{:value.Number}} - {{:value.Name}} одобрен {{:value.OrderedBy}}<br>{{if value.Comment != ""}} {{:value.Comment}} <br>{{/if}}<br></span>
                        {{/for}}
                    {{/if}}
                    <br><br>
                    <span class="good"><B>Текущие запрошенные заказы</B></span><br>
                    {{if data.records.supply.requests_count == 0}}
                            <span class="average">Нет запрошенных заказов</span><br><br>
                    {{else}}
                        {{for data.records.supply.requests}}
                            <span class="average">#{{:value.Number}} - {{:value.Name}} заказан {{:value.OrderedBy}}<br>{{if value.Comment != ""}} {{:value.Comment}} <br>{{/if}}<br></span>
                        {{/for}}
                    {{/if}}
				</div>
			</div>
		</div>


	{{else data.mode == 48}}
 		<H2>Управление Мулами</H2>
        {{if data.records.mulebot.active == null || data.records.mulebot.active == 0}}
            {{if data.records.mulebot.count == 0}}
                <H1><span class="bad">Боты не найдены.</span></H1>
            {{else}}
                <H2>Список Мулов</H2>
                <div class="item">
                    Выберите Мула
                </div>
                <br>
                {{for data.records.mulebot.bots}}
                    <div class="item">
                         {{:helper.link(value.Name, 'gear', {'radiomenu' : "1", 'op' : "control",'bot' : value.ref}, null, null)}} (Местоположение: {{:value.Location}})
                    </div>
                {{/for}}
            {{/if}}
            <br>
            {{:helper.link('Сканирование на наличие ботов','gear', {'radiomenu' : "1", 'op' : "scanbots"}, null, null)}}
        {{else}}
            {{if data.records.mulebot.botstatus.mode == -1}}
                <H1><span class="bad">Ожидание ответа...</span></H1>
            {{else}}
                <H1><span class="average">Статус:</span></H1>
                <br>
                <div class="item">
                    <div class="itemLabel">
                        <span class="good">Местоположение:</span>
                    </div>
                    <div class="itemContent">
                        <span class="average">{{:data.records.mulebot.botstatus.loca}}</span>
                    </div>
                </div>
                <div class="item">
                    <div class="itemLabel">
                        <span class="good">Режим:</span>
                    </div>
                    <div class="itemContent">
                        <span class="average">
                            {{if data.records.mulebot.botstatus.mode ==0}}
                                Готов
                            {{else data.records.mulebot.botstatus.mode == 1}}
                                Погрузка/Разгрузка
                            {{else data.records.mulebot.botstatus.mode ==2}}
                                Перемещение к месту назначения
                            {{else data.records.mulebot.botstatus.mode == 3}}
                                Перемещение домой
                            {{else data.records.mulebot.botstatus.mode ==4}}
                                В ожидании освобождения пути
                            {{else data.records.mulebot.botstatus.mode ==5 || data.records.mulebot.botstatus.mode == 6}}
                                Расчет маршрута
                            {{else data.records.mulebot.botstatus.mode ==7}}
                                Невозможно определить место назначения
                            {{/if}}
                        </span>
                    </div>
                </div>
                <div class="item">
                    <div class="itemLabel">
                        <span class="good">Текущая нагрузка:</span>
                    </div>
                    <div class="itemContent">
                        <span class="average">
                            {{:helper.link(data.records.mulebot.botstatus.load == null ? 'Отсутствует (разгрузка)' : data.records.mulebot.botstatus.load + ' (разгрузка)', 'gear', {'radiomenu' : "1", 'op' : "unload"},data.records.mulebot.botstatus.load == null ? 'отключен' : null, null)}}
                        </span>
                    </div>
                </div>
                <div class="item">
                    <div class="itemLabel">
                        <span class="good">Питание:</span>
                    </div>
                    <div class="itemContent">
                        <span class="average">
                            {{:data.records.mulebot.botstatus.powr}}%
                        </span>
                    </div>
                </div>
                <div class="item">
                    <div class="itemLabel">
                        <span class="good">Место назначения:</span>
                    </div>
                    <div class="itemContent">
                        {{:helper.link(data.records.mulebot.botstatus.dest == null || data.records.mulebot.botstatus.dest == "" ? 'Нет (установить)': data.records.mulebot.botstatus.dest+ ' (установить)', 'gear', {'radiomenu' : "1", 'op' : "setdest"}, null, null)}}
                    </div>
                </div>
                <div class="item">
                    <div class="itemLabel">
                        <span class="good">Дом:</span>
                    </div>
                    <div class="itemContent">
                        {{if data.records.mulebot.botstatus.home == null}} None {{else}} {{:data.records.mulebot.botstatus.home}} {{/if}}
                    </div>
                </div>
                <div class="item">
                    <div class="itemLabel">
                        <span class="good">Автовозврат:</span>
                    </div>
                    <div class="itemContent">
                       {{:helper.link(data.records.mulebot.botstatus.retn == 1 ? 'ВКЛ' : 'ВЫКЛ', 'gear', {'radiomenu' : "1", 'op' : data.records.mulebot.botstatus.retn==1 ? "retoff" : "reton"}, null, null)}}
                    </div>
                </div>
                <div class="item">
                    <div class="itemLabel">
                        <span class="good">Автоподбор:</span>
                    </div>
                    <div class="itemContent">
                        {{:helper.link(data.records.mulebot.botstatus.pick==1? 'ВКЛ' : 'ВЫКЛ', 'gear', {'radiomenu' : "1", 'op' : data.records.mulebot.botstatus.pick==1 ? "pickoff" : "pickon"}, null, null)}}
                    </div>
                </div>
                <div class="item">
                    <div class="itemLabel">
                        <span class="good">Функции:</span>
                    </div>
                    <div class="itemContent">
                        {{:helper.link('Остановить', 'gear', {'radiomenu' : "1", 'op' : "stop"}, null, null)}}
                        {{:helper.link('Продолжить', 'gear', {'radiomenu' : "1", 'op' : "go"}, null, null)}}
                        {{:helper.link('Вернуться домой', 'gear', {'radiomenu' : "1", 'op' : "home"}, null, null)}}
                    </div>
                </div>
                <br><br>
                {{:helper.link('Назад к списку ботов', 'gear', {'radiomenu' : "1", 'op' : "botlist"}, null, null)}}
            {{/if}}
        {{/if}}


	{{else data.mode == 49}}
        <H2>Поиск предметов уборщика</H2>
        <div class="item">
            <span class="good">Ваше местоположение:</span>
            {{if data.records.janitor.user_loc.x == 0}}
                <span class="bad">Неизвестно</span>
            {{else}}
                <span class="average"> {{:data.records.janitor.user_loc.x}} / {{:data.records.janitor.user_loc.y}}</span>
            {{/if}}
        </div>
            <div class="item">
                {{for data.records.janitor.mops}}
                    {{if value.x==0}}
                        <span class="bad">Невозможно найти швабру</span>
                    {{else}}
                        <span class="good">Швабра:</span>
                        <span class="average">({{:value.x}} / {{:value.y}}) - {{:value.dir}} - Статус: {{:value.status}}</span><br>
                    {{/if}}
                {{/for}}
            </div>
        <div class="item">
            {{for data.records.janitor.buckets}}
                {{if value.x==0}}
                    <span class="bad">Невозможно найти ведра</span>
                {{else}}
                    <span class="good">Ведро:</span>
                    <span class="average">({{:value.x}} / {{:value.y}}) - {{:value.dir}} - Уровень воды: {{:value.status}}</span><br>
                {{/if}}
            {{/for}}
        </div>
        <div class="item">
            {{for data.records.janitor.cleanbots}}
                {{if value.x==0}}
                    <span class="bad">Невозможно найти ботов уборщиков</span>
                {{else}}
                    <span class="good">Бот уборщик:</span>
                    <span class="average">({{:value.x}} / {{:value.y}}) - {{:value.dir}} - Статус: {{:value.status}}</span><br>
                {{/if}}
            {{/for}}
        </div>
            <div class="item">
                {{for data.records.janitor.carts}}
                    {{if value.x==0}}
                        <span class="bad">Невозможно найти тележку уборщика</span>
                    {{else}}
                        <span class="good">Тележка уборщика:</span>
                        <span class="average">({{:value.x}} / {{:value.y}}) - {{:value.dir}} - Статус: {{:value.status}}</span><br>
                    {{/if}}
                {{/for}}

    <!-- {{else data.mode == 6}}
        <H2><span class="white">ИнстаНьюс ED 2.0.9</span></H2>

        <div class="item">
            <div class="itemLabelNarrow">
                <b>Функции</b>:
            </div>
            <div class ="itemContent">
					{{:helper.link(data.news_silent==1 ? 'Звонок: Выкл.' : 'Звонок: Вкл.', data.news_silent==1 ? 'volume-off' : 'volume-on', {'choice' : "Toggle News"}, null, 'fixedLeftWide')}}
                {{:helper.link('Задайте стиль новостей', 'comment', {'choice' : "Newstone"}, null, 'fixedLeftWide')}}
            </div>
        </div>

		{{if data.reception != 1}}
			<span class="bad">Нет связи с новостной сетью.</span>
		{{/if}}

		<div class="item">
            <div class="itemContent">
                {{for data.feedChannels}}
                    {{if value.censored}}
						{{:helper.link(value.name, 'circle-arrow-s', {'choice' : "Select Feed", 'feed' : value.feed, 'name' : value.name } , null, 'fixedLeftWiderRed')}}
                    {{else}}
                        {{:helper.link(value.name, 'circle-arrow-s', {'choice' : "Select Feed", 'feed' : value.feed, 'name' : value.name } , null, 'fixedLeftWider')}}
                    {{/if}}
                {{empty}}
                    <I>Активные каналы не найдены...</I>
                {{/for}}
            </div>
		</div>

    {{else data.mode == 61}}
        <H2><span class="white">{{:data.feed.channel}}</span></H2>
        <span class="white">Создан: </span><span class="average">{{:data.feed.author}}<br></span>

		{{if data.reception != 1}}
			<span class="bad">Нет связи с новостной сетью.</span>
		{{/if}}

        <div class="statusDisplay" style="overflow: auto;">
            <div class="item">
                <div class="itemContent" style="width: 100%;">
					{{if data.feed.censored}}
						<H3><span class="bad">Внимание</span></H3>
						Этот канал был признан опасным для станции и заморожен компанией Нанотрейзен.<br>
						Дальнейшее добавление сюжетов запрещено.<br>
					{{else}}
						{{for data.feed.messages}}
							-{{:value.body}}<br>
							{{if value.has_image}}
								<img src='pda_news_tmp_photo_{{:data.feed.channel}}_{{:value.index}}.png' width = '180'><br>
								{{if value.caption}}
									<span class="caption">{{:value.caption}}</span><br>
								{{/if}}
							{{/if}}
							<span class="footer">[{{:value.message_type}} <span class="average">{{:value.author}}</span> - {{:value.time_stamp}}]</span><br>
							<br>
						{{empty}}
							<I>В канале не найдено ни одного новостного сообщения...</I>
						{{/for}}
					{{/if}}
				</div>
            </div>
        </div> -->

    {{else data.mode == 7}} <!-- Finance Management -->
        <div class="item">
            <H2>Управление финансами</H2>
        </div>
        <div class="item">
            <div class="itemLabelWide">
                <b>Деньги:</b> <span class="good">{{:data.money}}$</span><br>
                <b>Зарплата:</b> <span class="good">{{:data.salary}}$</span><br>
                <b>Следующая выплата:</b> <span class="average">{{:data.time_to_next_pay}}</span>
            </div>
            <div class="itemContentSmall">
                {{:helper.link('Меню транзакций', null, {'choice' : "Transaction Menu"}, null, null)}}
                {{:helper.link('Журнал транзакций', null, {'choice' : "Transaction Log"}, null, null)}}
                {{if data.boss}} {{:helper.link('Зарплата сотрудников', null, {'choice' : "Staff Salary"}, null, null)}} {{/if}}
            </div>
        </div>
    {{else data.mode == 71}} <!-- Show Transaction Menu -->
        <div class="item">
            <div class="statusDisplayRecords">
                <table>
                    <tr><td><span class="good">Номер целевого счета:</span></td>
                    <td><div class="itemContent">{{:helper.link(data.target_account_number, null, {'choice' : "target_acc_number"}, null, null)}}</div></td>
                    <td><div class="itemContent">{{:helper.link('Список', null, {'choice' : "Show Manifest"}, null, null)}}</div></td>
                    <td><div class="itemContent">{{:helper.link('Перейти', null, {'choice' : "Look for"}, null, null)}}</div></td></tr>

                    <tr><td><span class="good">Сумма перевода($):</span></td>
                    <td><div class="itemContent">{{:helper.link(data.funds_amount, null, {'choice' : "funds_amount"}, null, null)}}</div></td></tr>

                    <tr><td><span class="good">Назначение перевода:</span></td>
                    <td><div class="itemContent">{{:helper.link(data.purpose, null, {'choice' : "purpose"}, null, null)}}</div></td></tr>
                </table>
                <div class="itemContent">{{:helper.link('Перевести средства', 'transferthick-e-w', {'choice' : "make_transfer"}, data.ready_to_send ? null : 'disabled', null)}}</div>
            </div>
        </div>
    {{else data.mode == 72}} <!-- Show Transaction Log -->
        <div class="item">
            <div class="statusDisplayRecords">
                <center><table class="pmon">
                    <tr><th>Дата</th><th>Время</th><th>Цель</th><th>Назначение</th><th>Сумма</th><th>Источник</th></tr>
                    {{for data.trans_log}}
                        <tr><td>{{:value.data}}</td><td>{{:value.time}}</td><td>{{:value.name}}</td><td>{{:value.purpose}}</td><td>{{:value.amount}}</td><td>{{:value.source}}</td></tr>
                    {{/for}}
                </table></center>
            </div>
        </div>
    {{else data.mode == 73}}   <!-- Change Staff Salary -->
        <div class="item">
            <div class="statusDisplayRecords">
                <center><table class="pmon">
                    <tr><th>Имя</th><th>Должность</th><th>Зарплата</th></tr>
                    {{for data.subordinate_staff}}
                        <tr><td>{{:value.name}}</td><td>{{:value.rank}}</td><td>{{:value.salary}}</td>
                        <td>{{:helper.link('Изменить', null, {'choice' : "Change Salary", 'account' : value.acc_number}, null, null)}}</td></tr>
                    {{/for}}
                </table></center>
            </div>
        </div>
    {{/if}}
{{else}}
    <div class="wholeScreen">
        <br><br><br><br><br><br><br>Информация о владельце не найдена, пожалуйста, проведите идентификационной картой.
    </div>
{{/if}}
