<div class='item'>
  {{:helper.link('Close', 'gear', {'close' : 1}, null, 'fixedLeft')}}
  {{if data.user_name}}
	{{:helper.link('Logout', 'gear', {'logout' : 1}, null, 'fixedLeft')}}
  {{/if}}
</div>
{{if data.buying_product}}
	<div class="item">
		<b>You have selected {{:data.buying_product}}.<br>Please swipe your ID to pay for the article.</b><br>
		{{:helper.link('Cancel', 'cancel', { "cancelbuying" : 1 }, null, 'statusValue')}}
	</div>
{{else}}
	{{if data.user_name}}
		<div class="item">
		  Welcome, {{:data.user_name}}
		</div>
		{{if data.user_cansell}}
			<div class="item">
			  Your earnings: {{:data.earnings}}
			  {{if data.earnings > 0}}
				{{:helper.link('Transfer', 'arrowreturn-1-s', { "transfer" : 1 }, null, 'statusValue')}}
			  {{/if}}
			</div>
		{{/if}}
		{{if data.user_hasfullaccess}}
			<div class="item">
			  Your department has earned from taxes: {{:data.department_earning}}
			  {{:helper.link('Change tax', 'scissors', { "changeheadtax" : 1 }, null, 'statusValue')}}
			  {{if data.maintenance_protocols}}
				{{:helper.link('Forbid maintenance protocols', 'wrench', { "togglemaintenance" : 1 }, null, 'statusValue')}}
			  {{else}}
				{{:helper.link('Permit maintenance protocols', 'wrench', { "togglemaintenance" : 1 }, null, 'statusValue')}}
			  {{/if}}
			</div>
		{{/if}}
		
	<div class="item">
	  Station tax is {{:data.station_tax}}&#37; <br>
	  Department tax is {{:data.head_tax}}&#37; <br>
	  <span class='bad'>
		Don't forget to logout
	  </span>
	</div>
	{{/if}}

	<div class="item">
	  <h2>Shop</h2>
	</div>
	<div class='item'>
	  {{if data.contents}}
		{{for data.contents}}
		  <div class='item'>
			<span class='highlight'>{{:value.display_name}}</span> (x{{:value.quantity}})<br>
			Seller: {{:value.owner}}<br>
			Price: {{:value.price}}<br>
			
			{{:helper.link('Buy', 'cart', { "buy" : value.reference }, null, 'statusValue')}}
			{{if ((data.user_name == value.owner && data.user_cansell) || data.user_hasfullaccess)}}
				{{:helper.link('Vend', 'arrowreturn-1-s', { "vend" : value.reference }, null, 'statusValue')}}
				{{:helper.link('Change price', 'tag', { "changeprice" : value.reference }, null, 'statusValue')}}
			{{/if}}
		  </div>
		{{/for}}
	  {{else}}
		<span class='average'>No products loaded.</span>
	  {{/if}}
	</div>
{{/if}}