.Battery {
  position: relative;
  background: #172416;
  border-top: 15px solid #1d2d1c;
  border-bottom: 4px solid #0f140e;
  border-radius: 4px;
  margin: 0px;
  padding: 0px;
}

.Battery__Highlight {
  position: relative;
  background: #8f968e;
  border-radius: 4px;
  margin: 0px;
  padding: 0px;
}

.Battery__Indicator {
  position: relative;
  background: #32722a;
  border-top: 15px solid #3f8e35;
  border-bottom: 4px solid #1e3d1a;
  border-radius: 4px;
  margin: 0px;
  padding: 0px;
}

.Battery__Indicator__Highlight {
  position: relative;
  background: #70c35e;
  border-radius: 4px;
  margin: 0px;
  padding: 0px;
}

.Battery__Cap {
  position: relative;
  background: #696C72;
  margin: 0px;
  padding: 0px;
}
