.NanoMap__container {
  overflow: hiddden;
  width: 100%;
  z-index: 1;
}

.NanoMap__marker {
  z-index: 10;
  padding: 0px;
  margin: 0px;
  // this is like this because byond's coordinates are from bottom left so we want to place the
  // dot at the bottom left corner of it's x/y
  transform: translate(-50%, 50%);
}

.NanoMap__zoomer {
  z-index: 20;
  background-color: hsla(0, 0%, 0%, 0.33);
  position: absolute;
  top: 40px;
  left: 0;
  padding: 0.5rem;
  width: 30%;
}
